
<form [formGroup]="form" class="flex flex-col gap-4">
    <div>
        <label class="ov-label">
            {{ 'web.portfolio.popups.attachments.lblDocumentType' | translate }}
            <span class="text-danger">*</span>
        </label>
        <select class="ov-input" formControlName="documentType">
            <option value="" disabled>
                {{ 'web.portfolio.popups.attachments.lblDocumentTypePlaceHolder' | translate }}
            </option>
            <option *ngFor="let docType of documentTypes" [value]="docType.id">
                {{ docType.name }}
            </option>
        </select>
        <span class="ov-modal__hint">
            {{ 'web.portfolio.popups.attachments.lblDocumentTypeHint' | translate }}
        </span>
    </div>
    <div>
        <label class="ov-label">
            {{ 'web.portfolio.popups.attachments.lblDocumentNumber' | translate }}
        </label>
        <input
            type="text"
            class="ov-input"
            formControlName="documentNumber"
            placeholder="Enter">
    </div>
    <div class="ov-fields ov-fields--2">
        <div>
            <label class="ov-label">
                {{ 'web.portfolio.popups.attachments.lblIssueDate' | translate }}
            </label>
            <input type="date" class="ov-input" id="issueDate" formControlName="issueDate">
        </div>
        <div>
            <label class="ov-label">
                {{ 'web.portfolio.popups.attachments.lblExpiryDate' | translate }}
            </label>
            <input type="date" class="ov-input" id="expiryDate" formControlName="expiryDate">
        </div>
    </div>
    <div>
        <label class="ov-label">
            {{ 'web.portfolio.popups.attachments.lblIssuingAuthority' | translate }}
        </label>
        <input
            type="text"
            class="ov-input"
            formControlName="issuingAuthority"
            placeholder="Enter">
    </div>

    <div class="flex flex-col">
        <label class="ov-modal__share">
            <span class="ov-modal__share-copy">
                <span class="ov-modal__share-title">
                    {{ 'web.portfolio.popups.attachments.lblShareWithTenant' | translate }}
                </span>
                <span class="ov-modal__hint">
                    {{ 'web.portfolio.popups.attachments.lblShareWithTenantHint' | translate }}
                </span>
            </span>
            <input type="checkbox" formControlName="shareWithTenant">
        </label>
        <label class="ov-modal__share">
            <span class="ov-modal__share-copy">
                <span class="ov-modal__share-title">
                    {{ 'web.portfolio.popups.attachments.lblShareWithLandlord' | translate }}
                </span>
                <span class="ov-modal__hint">
                    {{ 'web.portfolio.popups.attachments.lblShareWithLandlordHint' | translate }}
                </span>
            </span>
            <input type="checkbox" formControlName="shareWithLandlord">
        </label>
    </div>

    <div class="ov-modal__upload">
        <div class="ov-modal__upload-head">
            <h6 class="ov-modal__title m-0">
                {{ 'web.portfolio.popups.attachments.lblUploadFile' | translate }}
            </h6>
        </div>
        <div class="ov-modal__upload-body">
            <app-file-upload
                [accept]="'image/*'"
                [multiple]="false"
                [browseText]="'Click'"
                (filesChanged)="onFilesSelected($event)">
            </app-file-upload>
        </div>
    </div>
</form>
