<aside class="app-sidebar" id="sidebar" [ngClass]="{ 'sticky-pin': scrolled }">
  <!-- Start::main-sidebar-header -->
  <div class="main-sidebar-header">
    <a class="header-logo orville-sidebar-logo" routerLink="/dashboard/crm">
      <span class="orville-logo-full">
        <img src="./assets/images/nav/logo-emblem.svg" alt="" class="orville-logo-emblem" width="47" height="47">
        <span class="orville-logo-wordmark">
          <img src="./assets/images/nav/logo-orville.svg" alt="ORVILLE" class="orville-logo-word" width="98" height="18">
          <img src="./assets/images/nav/logo-real-estate.svg" alt="REAL ESTATE" class="orville-logo-tag" width="98" height="5">
        </span>
      </span>
    </a>
  </div>

  <div>
    <ngx-simplebar [options]="options" class="main-sidebar" id="sidebar-scroll">
      <nav class="main-menu-container nav nav-pills flex-column sub-open">
        <div class="slide-left" id="slide-left">
          <i class="fe fe-chevron-left"></i>
        </div>

        <div class="orville-create-wrap">
          <button type="button" class="orville-create-btn bg-primary" aria-label="Create" (click)="createOverlayOpen = true">
            <img src="./assets/images/nav/plus.svg" alt="" width="14" height="14">
            <span class="orville-create-label">Create</span>
          </button>
        </div>

        <ul class="main-menu">
          <li *ngFor="let menuItem of menuItems" class="slide" [ngClass]="{
              'has-sub': menuItem.type === 'sub',
              open: menuItem.active,
              active: menuItem.selected
            }">
            <!-- link -->
            <a *ngIf="menuItem.type === 'link' && menuItem.path" class="side-menu__item" [routerLink]="menuItem.path"
              routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              (click)="setNavActive(menuItem); menuOpen()">
              <span *ngIf="menuItem.icon && menuItem.icon.endsWith('.svg')" class="orville-nav-icon"
                [style.--orville-icon]="'url(' + menuItem.icon + ')'"></span>
              <i *ngIf="menuItem.icon && !menuItem.icon.endsWith('.svg')" class="side-menu__icon bx {{ menuItem.icon }}"></i>
              <span class="side-menu__label">{{ menuItem.title }}</span>
            </a>
            <a *ngIf="menuItem.type === 'link' && !menuItem.path" class="side-menu__item" href="javascript:void(0)"
              (click)="$event.preventDefault()">
              <span *ngIf="menuItem.icon && menuItem.icon.endsWith('.svg')" class="orville-nav-icon"
                [style.--orville-icon]="'url(' + menuItem.icon + ')'"></span>
              <i *ngIf="menuItem.icon && !menuItem.icon.endsWith('.svg')" class="side-menu__icon bx {{ menuItem.icon }}"></i>
              <span class="side-menu__label">{{ menuItem.title }}</span>
            </a>
 
            <!-- submenu -->
            <a *ngIf="menuItem.type === 'sub'" class="side-menu__item orville-parent-item" href="javascript:void(0)"
              (click)="toggleNavActive(menuItem)">
              <span *ngIf="menuItem.icon && menuItem.icon.endsWith('.svg')" class="orville-nav-icon"
                [style.--orville-icon]="'url(' + menuItem.icon + ')'"></span>
              <i *ngIf="menuItem.icon && !menuItem.icon.endsWith('.svg')" class="side-menu__icon bx {{ menuItem.icon }}"></i>
              <span class="side-menu__label">{{ menuItem.title }}</span>
              <i class="fe fe-chevron-right side-menu__angle"></i>
            </a>

            <!-- 2nd Level -->
            <ul *ngIf="menuItem.children" class="slide-menu child1"
              [ngStyle]="{ display: menuItem.active ? 'block' : 'none' }">
              <li *ngFor="let child of menuItem.children" class="slide"
                [ngClass]="{ open: child.active, 'has-sub': child.type === 'sub' }">
                <!-- child link -->
                <a *ngIf="child.type === 'link' && child.path" class="side-menu__item orville-sub-item" [routerLink]="child.path"
                  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: child.exact === true }" (click)="setNavActive(child)">
                  <span class="side-menu__label">{{ child.title }}</span>
                </a>
                <a *ngIf="child.type === 'link' && !child.path" class="side-menu__item orville-sub-item" href="javascript:void(0)"
                  (click)="$event.preventDefault()">
                  <span class="side-menu__label">{{ child.title }}</span>
                </a>

                <!-- child submenu -->
                <a *ngIf="child.type === 'sub'" class="side-menu__item orville-sub-item" href="javascript:void(0)"
                  (click)="toggleNavActive(child)" [ngClass]="{ active: child.active }">
                  <span class="side-menu__label">{{ child.title }}</span>
                  <i class="fe fe-chevron-right side-menu__angle"></i>
                </a>

                <!-- 3rd Level -->
                <ul *ngIf="child.children" class="slide-menu child2"
                  [ngStyle]="{ display: child.active ? 'block' : 'none' }">
                  <li *ngFor="let sub of child.children" class="slide" [ngClass]="{ active: sub.selected }">
                    <a *ngIf="sub.type === 'link' && sub.path" class="side-menu__item orville-sub-item" [routerLink]="sub.path"
                      routerLinkActive="active" [routerLinkActiveOptions]="{ exact: sub.exact === true }" (click)="setNavActive(sub)">
                      <span class="side-menu__label">{{ sub.title }}</span>
                    </a>
                    <a *ngIf="sub.type === 'link' && !sub.path" class="side-menu__item orville-sub-item" href="javascript:void(0)"
                      (click)="$event.preventDefault()">
                      <span class="side-menu__label">{{ sub.title }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

        <div class="slide-right" id="slide-right">
          <i class="fe fe-chevron-right"></i>
        </div>
      </nav>
    </ngx-simplebar>
  </div>
</aside>

<app-create-overlay [(open)]="createOverlayOpen"></app-create-overlay>
