.table-vertical-scroll {
    max-height: 550px;
    overflow-y: auto !important;
    position: relative;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        display: block !important;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 10px;

        &:hover {
            background: #a1a1a1;
        }
    }

    table {
        thead {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: #ebf8fe; // Opaque version of bg-info/10

            tr {
                th {
                    position: sticky;
                    top: 0;
                    z-index: 10;
                    background-color: #ebf8fe; // Ensure background is opaque light blue
                    border-bottom: 2px solid #e9edf6;
                }
            }
        }
    }
}