
<form [formGroup]="form" class="flex flex-col gap-4">
    <div>
        <label class="ov-label">
            {{ 'web.portfolio.popups.notes.lblSubject' | translate }} <span class="text-danger">*</span>
        </label>
        <input
            type="text"
            class="ov-input"
            formControlName="subject"
            placeholder="{{ 'web.portfolio.popups.notes.lblEnter' | translate }}">
        <span class="ov-modal__hint">
            {{ 'web.portfolio.popups.notes.lblSubjectHint' | translate }}
        </span>
    </div>
    <div>
        <label class="ov-label">
            {{ 'web.portfolio.popups.notes.lblCommChannel' | translate }}
        </label>
        <select class="ov-input" formControlName="commChannelType">
            <option value="" disabled>
                {{ 'web.portfolio.popups.notes.lblSelectCommChannel' | translate }}
            </option>
            <option *ngFor="let commChannel of communicationChannels" [value]="commChannel.id">
                {{ commChannel.name }}
            </option>
        </select>
        <span class="ov-modal__hint">
            {{ 'web.portfolio.popups.notes.lblCommChannelHint' | translate }}
        </span>
    </div>
    <div>
        <label class="ov-label">{{ 'web.portfolio.popups.notes.lblContent' | translate }}</label>
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
        <ngx-editor
            [editor]="editor"
            formControlName="content"
            placeholder="{{ 'web.portfolio.popups.notes.lblContent' | translate }}">
        </ngx-editor>
    </div>

    <div class="rounded-xl border border-defaultborder overflow-hidden">
        <div class="border-b border-defaultborder px-4 py-3">
            <h6 class="ov-modal__title !text-[14px] !font-semibold !leading-[18px]">
                {{ 'web.portfolio.popups.notes.lblUploadFile' | translate }}
            </h6>
        </div>
        <div class="p-4">
            <app-file-upload
                [accept]="'image/*'"
                [multiple]="false"
                [browseText]="'Click'"
                (filesChanged)="onFilesSelected($event)">
            </app-file-upload>
        </div>
    </div>
</form>
