:host {
  display: block;
}

.orville-dl__trash {
  display: inline-flex;
  width: 14px;
  height: 14px;
  overflow: hidden;
}

.orville-dl__trash img {
  display: block;
  width: 14px;
  height: 14px;
}
