<nav class="orville-bottom-nav" aria-label="Quick navigation">
  <a *ngFor="let tab of tabs" class="orville-bottom-nav__tab" [routerLink]="tab.path"
    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
    <span class="orville-bottom-nav__icon" [style.--icon]="'url(' + tab.icon + ')'"></span>
    <span class="orville-bottom-nav__label">{{ tab.label }}</span>
  </a>
  <button type="button" class="orville-bottom-nav__tab" (click)="openMenu()">
    <span class="orville-bottom-nav__icon" style="--icon: url(./assets/images/mobile-chrome/menu-2.svg)"></span>
    <span class="orville-bottom-nav__label">More</span>
  </button>
</nav>
