<form class="ov-add-form create-lease" (ngSubmit)="$event.preventDefault()">
  <div class="ov-add-header page-header">
    <div class="ov-add-header__start">
      <button type="button" class="ov-back" (click)="goBack()" [attr.title]="'web.leases.lblLeaseManagement' | translate">
        <img src="assets/images/common/arrow-narrow-left.svg" alt="" width="24" height="24" />
      </button>
      <div>
        <h3 class="ov-page-title">
          {{ leaseId == '' ? ('web.leases.lblNewLease' | translate) : ('web.leases.lblEditLease' | translate) }}
        </h3>
        <p class="ov-page-sub">
          <span class="cursor-pointer hover:underline" (click)="goBack()">{{ 'web.leases.lblLeaseManagement' | translate }}</span>
          /
          <span class="ov-page-sub__current" *ngIf="leaseId == ''">{{ 'web.leases.lblNewLease' | translate }}</span>
          <span class="ov-page-sub__current" *ngIf="leaseId != ''">{{ leaseInfo?.active_lease }}</span>
        </p>
      </div>
    </div>
    <div class="ov-add-header__actions">
      <button type="button" class="ov-btn ov-btn-ghost" (click)="goBack()">{{ 'web.contacts.lblCancel' | translate }}</button>
      <button type="button" class="ov-btn ov-btn-primary" (click)="saveLease()">
        {{ leaseId == '' ? ('web.leases.lblSaveLease' | translate) : ('web.leases.lblUpdateLease' | translate) }}
      </button>
    </div>
  </div>

  <div class="ov-add-body">
    <div class="ov-add-layout__main">

      <!-- Selection Details -->
      <div class="ov-card">
        <div class="ov-card__head">
          <h6 class="ov-card-title">{{ 'web.leases.lblSelectionDetails' | translate }}</h6>
        </div>
        <div class="ov-card__body">
          <div class="ov-fields ov-fields--2">
            <div>
              <label class="ov-label">{{ 'web.leases.lblTenant' | translate }} <span class="text-danger">*</span></label>
              <ng-select #tenantSelect [(ngModel)]="selectedTenant" name="selectedTenant"
                [items]="tenantsList" bindValue="code"
                (change)="onTenantChange($event)" [searchable]="true"
                [clearable]="leaseId === ''" [readonly]="leaseId !== ''"
                [placeholder]="'web.leases.lblTenant' | translate"
                appendTo="body" class="ov-select ng-select-sm w-full">
                <ng-template ng-header-tmp>
                  <div class="p-1.5 border-b border-defaultborder">
                    <input type="text" class="ov-input !text-xs" placeholder="Search..."
                      (input)="onSearch($any($event.target).value, 'tenants')" (click)="$event.stopPropagation()">
                  </div>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">{{ item.code }} - {{ item.name }}</ng-template>
                <ng-template ng-option-tmp let-item="item">{{ item.code }} - {{ item.name }}</ng-template>
              </ng-select>
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblProperty' | translate }} <span class="text-danger">*</span></label>
              <ng-select #propSelect [(ngModel)]="selectedProperty" name="selectedProperty"
                [items]="propertiesList" bindValue="code"
                (change)="onPropertyChange($event)" [searchable]="true"
                [clearable]="leaseId === ''" [readonly]="leaseId !== ''"
                [placeholder]="'web.leases.lblProperty' | translate"
                appendTo="body" class="ov-select ng-select-sm w-full">
                <ng-template ng-header-tmp>
                  <div class="p-1.5 border-b border-defaultborder">
                    <input type="text" class="ov-input !text-xs" placeholder="Search..."
                      (input)="onSearch($any($event.target).value, 'properties')" (click)="$event.stopPropagation()">
                  </div>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">{{ item.code }} - {{ item.name }}</ng-template>
                <ng-template ng-option-tmp let-item="item">{{ item.code }} - {{ item.name }}</ng-template>
              </ng-select>
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblUnit' | translate }} <span class="text-danger">*</span></label>
              <ng-select #unitSelect [(ngModel)]="selectedUnit" name="selectedUnit"
                [items]="unitsList" bindValue="code" bindLabel="unit"
                (change)="onUnitChange($event)" [searchable]="true"
                [clearable]="leaseId === ''" [readonly]="leaseId !== ''"
                [placeholder]="'web.leases.lblUnit' | translate"
                appendTo="body" class="ov-select ng-select-sm w-full">
                <ng-template ng-header-tmp>
                  <div class="p-1.5 border-b border-defaultborder">
                    <input type="text" class="ov-input !text-xs" placeholder="Search..."
                      (input)="onSearch($any($event.target).value, 'units')" (click)="$event.stopPropagation()">
                  </div>
                </ng-template>
              </ng-select>
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblRoom' | translate }}</label>
              <ng-select [(ngModel)]="selectedRoom" name="selectedRoom" [items]="roomsList"
                [searchable]="true" [clearable]="true" bindLabel="room" bindValue="code"
                (change)="onChangeSelect($event, 'selectedRoom')"
                [placeholder]="'web.leases.lblRoom' | translate"
                appendTo="body" class="ov-select ng-select-sm w-full">
                <ng-template ng-header-tmp>
                  <div class="p-1.5 border-b border-defaultborder">
                    <input type="text" class="ov-input !text-xs" placeholder="Search..."
                      (input)="onSearch($any($event.target).value, 'rooms')" (click)="$event.stopPropagation()">
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <!-- Lease Agent Assignment -->
      <div class="ov-card">
        <div class="ov-card__head">
          <h6 class="ov-card-title">{{ 'web.leases.lblAgentAssignment' | translate }}</h6>
        </div>
        <div class="ov-card__body">
          <div>
            <label class="ov-label">Assigned Lease Agent</label>
            <ng-select [(ngModel)]="selectedAgent" name="selectedAgent"
              [items]="agentsList" bindValue="code" [searchable]="true" [clearable]="true"
              placeholder="Select Lease Agent"
              appendTo="body" class="ov-select ng-select-sm w-full">
              <ng-template ng-header-tmp>
                <div class="p-1.5 border-b border-defaultborder">
                  <input type="text" class="ov-input !text-xs" placeholder="Search..."
                    (input)="onSearch($any($event.target).value, 'agentsList')" (click)="$event.stopPropagation()">
                </div>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">{{ item.code }} - {{ item.name }}</ng-template>
              <ng-template ng-option-tmp let-item="item">{{ item.code }} - {{ item.name }}</ng-template>
            </ng-select>
          </div>
        </div>
      </div>

      <!-- Lease Details -->
      <div class="ov-card">
        <div class="ov-card__head">
          <h6 class="ov-card-title">{{ 'web.leases.lblLeaseDetails' | translate }}</h6>
        </div>
        <div class="ov-card__body flex flex-col gap-4">
          <label class="lease-check">
            <input type="checkbox" [(ngModel)]="isShortTerm" name="isShortTerm" id="isShortTerm" class="form-checkbox">
            <span>{{ 'web.leases.lblShortTerm' | translate }}</span>
          </label>
          <div class="ov-fields ov-fields--2">
            <div>
              <label class="ov-label">{{ 'web.leases.lblLeaseType' | translate }}</label>
              <ng-select [(ngModel)]="selectedLeaseType" name="selectedLeaseType"
                (change)="onChangeSelect($event, 'selectedLeaseType')" bindLabel="name" [items]="leaseTypes"
                [placeholder]="'web.leases.lblLeaseType' | translate"
                appendTo="body" class="ov-select ng-select-sm w-full"></ng-select>
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblLeaseCategory' | translate }}</label>
              <ng-select [(ngModel)]="selectedLeaseCategory" name="selectedLeaseCategory"
                (change)="onChangeSelect($event, 'selectedLeaseCategory')" bindLabel="name" [items]="leaseCategories"
                [placeholder]="'web.leases.lblLeaseCategory' | translate"
                appendTo="body" class="ov-select ng-select-sm w-full"></ng-select>
            </div>
          </div>
          <div class="ov-fields ov-fields--3">
            <div>
              <label class="ov-label">{{ 'web.leases.lblStartDate' | translate }} <span class="text-danger">*</span></label>
              <input type="date" class="ov-input" [(ngModel)]="startDate" name="startDate" (change)="calculatemonths()">
            </div>
            <div>
              <label class="ov-label">Months</label>
              <input type="number" class="ov-input" [(ngModel)]="months" name="months" (change)="calculateEndDate()">
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblEndDate' | translate }}</label>
              <input type="date" class="ov-input" [(ngModel)]="endDate" name="endDate" (change)="calculatemonths()">
            </div>
          </div>
          <p class="lease-hint m-0">Dates overlapping is allowed in settings.</p>
          <div class="lease-duration">
            Total Duration: {{ months ? (months + (months === 1 ? ' month' : ' months')) : 'N/A' }}
          </div>
        </div>
      </div>

      <!-- Rent & Payments -->
      <div class="ov-card">
        <div class="ov-card__head">
          <h6 class="ov-card-title">{{ 'web.leases.lblRentPayments' | translate }}</h6>
        </div>
        <div class="ov-card__body flex flex-col gap-4">
          <div class="ov-fields ov-fields--2">
            <div>
              <label class="ov-label">{{ 'web.leases.lblRent' | translate }} <span class="text-danger">*</span></label>
              <div class="ov-input-addon">
                <span class="ov-input-addon__prefix">{{ currentUser?.currencyCode }}</span>
                <input type="number" class="ov-input" [(ngModel)]="rentAmount" name="rentAmount"
                  (change)="calculateRentDetails()" placeholder="0.00">
              </div>
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblTotalPayments' | translate }}</label>
              <input type="number" class="ov-input" [(ngModel)]="totalPayments" name="totalPayments">
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblMoneyHeldBy' | translate }}</label>
              <ng-select [(ngModel)]="moneyHeldBy" name="moneyHeldBy" bindValue="id" bindLabel="name"
                [items]="moneyHeldOptions" [placeholder]="'web.leases.lblMoneyHeldBy' | translate"
                appendTo="body" class="ov-select ng-select-sm w-full"></ng-select>
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblPaymentVia' | translate }}</label>
              <ng-select [(ngModel)]="paymentMethod" name="paymentMethod" bindValue="id" bindLabel="name"
                [items]="paymentMethods" [placeholder]="'web.leases.lblPaymentVia' | translate"
                appendTo="body" class="ov-select ng-select-sm w-full"></ng-select>
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblAnnualRent' | translate }}</label>
              <div class="ov-input-addon">
                <span class="ov-input-addon__prefix">{{ currentUser?.currencyCode }}</span>
                <input type="number" class="ov-input" [(ngModel)]="annualRent" name="annualRent" placeholder="0.00">
              </div>
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblMonthlyRent' | translate }}</label>
              <div class="ov-input-addon">
                <span class="ov-input-addon__prefix">{{ currentUser?.currencyCode }}</span>
                <input type="number" class="ov-input" [(ngModel)]="monthlyRent" name="monthlyRent" placeholder="0.00">
              </div>
            </div>
          </div>
          <div class="flex justify-end">
            <button type="button" class="ov-btn ov-btn-primary" (click)="generatePayments()">
              {{ 'web.leases.lblGeneratePayment' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Payment Schedule — Figma 1382 -->
      <div class="ov-card">
        <div class="ov-card__head lease-schedule-head">
          <h6 class="ov-card-title">Payment Schedule</h6>
          <div class="lease-schedule-links">
            <button type="button"
              [class]="showAddPayment && addpaymentbloc.isSecurityDeposit == 0 ? 'lease-outline-btn' : 'lease-text-link'"
              (click)="showPaymentBlock(0)">Add Payment</button>
            <button type="button"
              [class]="showAddPayment && addpaymentbloc.isSecurityDeposit == 1 ? 'lease-outline-btn' : 'lease-text-link'"
              (click)="showPaymentBlock(1)">Add Security Deposit</button>
            <button type="button" *ngIf="paymentSchedules.length > 0" class="lease-text-link lease-text-link--danger"
              (click)="showPaymentBlock(3)">Delete Schedules</button>
          </div>
        </div>
        <div class="ov-card__body flex flex-col gap-4">
          <p class="ov-card-sub m-0">Select from the options below to set a recurring or one-time payment schedule.</p>

          <ng-container *ngIf="showAddPayment">
            <label class="lease-check">
              <input type="checkbox" [(ngModel)]="addpaymentbloc.includetax" name="includeTax" class="form-checkbox">
              <span>Inclusive Tax?</span>
            </label>

            <div class="ov-fields ov-fields--2">
              <div>
                <label class="ov-label">Amount <span class="text-danger">*</span></label>
                <div class="ov-input-addon">
                  <span class="ov-input-addon__prefix">{{ currentUser?.currencyCode || 'AED' }}</span>
                  <input type="number" class="ov-input" [(ngModel)]="addpaymentbloc.Amount" name="payAmount" placeholder="0.00">
                </div>
              </div>
              <div>
                <label class="ov-label">Due On</label>
                <input type="date" class="ov-input" [(ngModel)]="addpaymentbloc.DueDate" name="payDueDate">
              </div>
            </div>

            <div *ngIf="addpaymentbloc.isSecurityDeposit == 0" class="ov-fields ov-fields--2">
              <div>
                <label class="ov-label">Account</label>
                <ng-select [(ngModel)]="addpaymentbloc.AccountCode" name="payAccount" bindValue="id" bindLabel="name"
                  [items]="coaList" placeholder="Select Account" appendTo="body" class="ov-select ng-select-sm w-full"></ng-select>
              </div>
              <div>
                <label class="ov-label">Memo</label>
                <input type="text" class="ov-input" [(ngModel)]="addpaymentbloc.Memo" name="payMemo"
                  placeholder="If left blank, will show 'Rent'">
              </div>
            </div>

            <div *ngIf="addpaymentbloc.isSecurityDeposit == 0" class="ov-fields">
              <div>
                <label class="ov-label">Recurring Cycle <span class="text-danger">*</span></label>
                <ng-select [(ngModel)]="addpaymentbloc.Recurrence_id" name="payRecurrence" bindValue="id" bindLabel="name"
                  [items]="recurringList" placeholder="Select cycle" appendTo="body"
                  class="ov-select ng-select-sm w-full"></ng-select>
              </div>
            </div>

            <div class="ov-fields"
              [class.ov-fields--4]="addpaymentbloc.isSecurityDeposit == 0"
              [class.ov-fields--3]="addpaymentbloc.isSecurityDeposit == 1">
              <div>
                <label class="ov-label">Tax Profile</label>
                <ng-select [(ngModel)]="addpaymentbloc.TaxProfileId" name="payTax" bindValue="id" bindLabel="name"
                  [items]="taxProfilesList" placeholder="Select profile" appendTo="body"
                  class="ov-select ng-select-sm w-full"></ng-select>
              </div>
              <div>
                <label class="ov-label">{{ 'web.leases.lblMoneyHeldBy' | translate }} <span class="text-danger">*</span></label>
                <ng-select [(ngModel)]="addpaymentbloc.money_held_by_id" name="payHeldBy" bindValue="id" bindLabel="name"
                  [items]="moneyHeldOptions" [placeholder]="'web.leases.lblMoneyHeldBy' | translate"
                  appendTo="body" class="ov-select ng-select-sm w-full"></ng-select>
              </div>
              <div>
                <label class="ov-label">{{ 'web.leases.lblPaymentVia' | translate }} <span class="text-danger">*</span></label>
                <ng-select [(ngModel)]="addpaymentbloc.PaymentTypeid" name="payVia" bindValue="id" bindLabel="name"
                  [items]="paymentMethods" [placeholder]="'web.leases.lblPaymentVia' | translate"
                  appendTo="body" class="ov-select ng-select-sm w-full"></ng-select>
              </div>
              <div *ngIf="addpaymentbloc.isSecurityDeposit == 0">
                <label class="ov-label">Invoice Number</label>
                <input type="text" class="ov-input" [(ngModel)]="addpaymentbloc.InvoiceNo" name="payInvoice" placeholder="Enter">
              </div>
            </div>

            <div *ngIf="addpaymentbloc.PaymentTypeid == 169" class="ov-fields ov-fields--2">
              <div>
                <label class="ov-label">Cheque No</label>
                <input type="text" class="ov-input" [(ngModel)]="addpaymentbloc.cheque_no" name="chequeNo">
              </div>
              <div>
                <label class="ov-label">Cheque Date</label>
                <input type="date" class="ov-input" [(ngModel)]="addpaymentbloc.cheque_date" name="chequeDate">
              </div>
              <div>
                <label class="ov-label">Bank</label>
                <input type="text" class="ov-input" [(ngModel)]="addpaymentbloc.bank" name="chequeBank">
              </div>
              <div>
                <label class="ov-label">Held By</label>
                <ng-select [(ngModel)]="addpaymentbloc.held_by" name="chequeHeldBy" bindValue="id" bindLabel="name"
                  [items]="heldByList" placeholder="Held By" appendTo="body"
                  class="ov-select ng-select-sm w-full"></ng-select>
              </div>
            </div>

            <input #payFileInput type="file" class="hidden" accept=".pdf,.jpg,.jpeg,.png,application/pdf,image/*"
              (change)="onPayFileSelected($event)">

            <div class="lease-drop"
              (click)="payFileInput.click()"
              (dragover)="$event.preventDefault()"
              (drop)="onPayFileDrop($event)">
              <i class="ri-upload-2-line lease-drop__icon" aria-hidden="true"></i>
              <p class="lease-drop__text m-0">
                Drag and drop your file here
                <button type="button" class="lease-drop__browse" (click)="$event.stopPropagation(); payFileInput.click()">or Browse files</button>
              </p>
              <p class="lease-drop__formats m-0">Supported formats: PDF, JPG, PNG · Maximum size: 10 MB</p>
            </div>
            <div *ngIf="attachedFile" class="lease-drop-file">
              <span class="lease-drop-file__name">{{ attachedFile.name }}</span>
              <button type="button" class="lease-text-link lease-text-link--danger" (click)="clearPayFile()">Remove</button>
            </div>

            <div class="flex flex-wrap gap-2">
              <button type="button" class="ov-btn ov-btn-primary" (click)="savePayments()">Save</button>
              <button type="button" class="ov-btn ov-btn-ghost" (click)="clearPaymentForm()">Clear</button>
            </div>
          </ng-container>

          <div *ngIf="paymentSchedules.length > 0" class="lease-schedule-table">
            <table>
              <thead>
                <tr>
                  <th>Amount ({{ currentUser?.currencyCode }})</th>
                  <th>Advance ({{ currentUser?.currencyCode }})</th>
                  <th>Account</th>
                  <th>Due Date</th>
                  <th>Recurrence</th>
                  <th>Payment Via</th>
                  <th>Attachment</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let wo of paymentSchedules">
                  <td>{{ wo.Amount }}</td>
                  <td>{{ wo.AdvAmt }}</td>
                  <td>{{ wo.Account }}</td>
                  <td>{{ wo.DueDate }}</td>
                  <td>{{ wo.Recurrence }}</td>
                  <td>{{ wo.PaymentType }}</td>
                  <td><a href="javascript:void(0)">{{ wo.attachmentName }}</a></td>
                  <td>
                    <button type="button" class="ov-icon-btn" (click)="edit_action(wo, 'edit')" title="Edit">
                      <i class="ri-edit-line"></i>
                    </button>
                  </td>
                  <td>
                    <button type="button" class="ov-icon-btn" (click)="edit_action(wo, 'delete')" title="Delete">
                      <i class="ri-delete-bin-line text-danger"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Additional Information -->
      <div class="ov-card">
        <div class="ov-card__head">
          <h6 class="ov-card-title">{{ 'web.leases.lblAdditionalInfo' | translate }}</h6>
        </div>
        <div class="ov-card__body">
          <div class="ov-fields ov-fields--2">
            <div>
              <label class="ov-label">{{ 'web.leases.lblNoOfPerson' | translate }}</label>
              <input type="number" class="ov-input" [(ngModel)]="additionalbloc.no_of_persons" name="noOfPersons">
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblCreatedBy' | translate }}</label>
              <input type="text" class="ov-input" [(ngModel)]="additionalbloc.created_by" name="createdBy" disabled>
            </div>
            <div>
              <label class="ov-label">Created At</label>
              <input type="date" class="ov-input" [(ngModel)]="additionalbloc.created_date" name="createdDate">
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblMoveInDate' | translate }}</label>
              <input type="date" class="ov-input" [(ngModel)]="additionalbloc.move_in_date" name="moveInDate">
            </div>
            <div>
              <label class="ov-label">{{ 'web.leases.lblPayingDate' | translate }}</label>
              <input type="date" class="ov-input" [(ngModel)]="additionalbloc.paying_date" name="payingDate">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT: Selection Summary -->
    <aside class="ov-add-layout__aside">
      <div class="ov-card">
        <div class="ov-card__head">
          <h6 class="ov-card-title">Selection Summary</h6>
        </div>
        <div class="ov-card__body flex flex-col gap-5">
          <div>
            <p class="lease-summary-label">Tenants</p>
            <div *ngIf="selectedTenantObj" class="lease-summary-chip">
              <div class="min-w-0">
                <p class="lease-summary-chip__title">{{ selectedTenantObj.name }}</p>
                <p class="lease-summary-chip__sub" *ngIf="selectedTenantObj.phone || selectedTenantObj.email">
                  {{ selectedTenantObj.phone }}<ng-container *ngIf="selectedTenantObj.phone && selectedTenantObj.email"> | </ng-container>{{ selectedTenantObj.email }}
                </p>
              </div>
              <span class="lease-summary-chip__badge">Primary</span>
            </div>
            <div *ngIf="!selectedTenantObj" class="lease-summary-empty">No tenant selected</div>
          </div>

          <div>
            <div class="flex items-center justify-between mb-2">
              <p class="lease-summary-label !mb-0">Occupants</p>
              <button type="button" class="ov-icon-btn ov-icon-btn--primary" (click)="openOccupantsModal()" title="Add Occupant">
                <img src="assets/images/work-orders/plus.svg" alt="" width="16" height="16" />
              </button>
            </div>
            <div *ngIf="occupants.length > 0" class="flex flex-col gap-2">
              <div *ngFor="let occ of occupants; let idx = index" class="lease-summary-chip">
                <div class="min-w-0">
                  <p class="lease-summary-chip__title">{{ occ.name }}</p>
                  <p class="lease-summary-chip__sub" *ngIf="occ.phone">{{ occ.phone }}</p>
                </div>
                <div class="lease-added-card__actions">
                  <button type="button" class="lease-action-btn" (click)="editOccupant(idx)" title="Edit">
                    <img src="assets/images/leases/pencil.svg" alt="" width="16" height="16" />
                  </button>
                  <button type="button" class="lease-action-btn" (click)="removeOccupant(idx)" title="Delete">
                    <img src="assets/images/leases/trash.svg" alt="" width="16" height="16" />
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="occupants.length === 0" class="lease-summary-empty">No occupants added</div>
          </div>

          <div>
            <p class="lease-summary-label">Units</p>
            <div *ngIf="selectedUnitObj" class="lease-summary-chip lease-summary-chip--unit">
              <div class="min-w-0">
                <p class="lease-summary-chip__title">{{ selectedUnitObj.unit || selectedUnitObj.name || selectedUnitObj.code }}</p>
                <p class="lease-summary-chip__sub" *ngIf="selectedPropertyObj?.name">{{ selectedPropertyObj?.name }}</p>
              </div>
              <span class="lease-summary-chip__badge lease-summary-chip__badge--success">Primary</span>
            </div>
            <div *ngIf="!selectedUnitObj" class="lease-summary-empty">
              {{ selectedPropertyObj ? 'Select a unit to see summary' : 'Select a property first' }}
            </div>
          </div>

          <div class="lease-summary-divider"></div>

          <div>
            <p class="lease-summary-label">{{ 'web.leases.lblLeaseDetails' | translate }}</p>
            <div class="lease-detail-rows">
              <div class="lease-detail-row">
                <span>Type:</span>
                <strong>{{ isShortTerm ? 'Short Term' : 'Long Term' }}</strong>
              </div>
              <div class="lease-detail-row">
                <span>Lease Type:</span>
                <strong>{{ selectedLeaseType?.name || '—' }}</strong>
              </div>
              <div class="lease-detail-row">
                <span>Category:</span>
                <strong>{{ selectedLeaseCategory?.name || '—' }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ov-card lease-pro-tip">
        <div class="ov-card__body flex gap-3 items-start">
          <i class="ri-information-line text-lg text-primary shrink-0 mt-0.5" aria-hidden="true"></i>
          <div>
            <h6 class="ov-card-title !text-[14px] mb-1">Pro Tip</h6>
            <p class="text-[12px] text-textmuted m-0 leading-snug">
              Make sure to fill in the latitude and longitude for accurate location mapping. Property type determines the lease templates available.
            </p>
          </div>
        </div>
      </div>
    </aside>
  </div>

  <div class="ov-add-footer">
    <button type="button" class="ov-btn ov-btn-ghost" (click)="goBack()">{{ 'web.contacts.lblCancel' | translate }}</button>
    <button type="button" class="ov-btn ov-btn-primary" (click)="saveLease()">
      {{ leaseId == '' ? ('web.leases.lblSaveLease' | translate) : ('web.leases.lblUpdateLease' | translate) }}
    </button>
  </div>
</form>

<!-- Occupants modal — Figma 1406:22499 -->
<div *ngIf="showOccupantsModal" class="ov-modal-backdrop" role="dialog" aria-modal="true" aria-labelledby="lease-occupants-title">
  <div class="ov-modal ov-modal--lg lease-occupants-modal" (click)="$event.stopPropagation()">
    <div class="ov-modal__header">
      <div>
        <h6 class="ov-modal__title" id="lease-occupants-title">Occupants</h6>
        <p class="ov-modal__sub">Add people who will live in this unit during the lease period.</p>
      </div>
      <button type="button" class="ov-icon-btn ov-icon-btn--bare" (click)="closeOccupantsModal()" aria-label="Close">
        <img src="assets/images/common/close-plus.svg" alt="" width="20" height="20" class="ov-ico-x" />
      </button>
    </div>

    <div class="ov-modal__body lease-occupants-modal__body">
      <div>
        <label class="ov-label">{{ 'web.contacts.lblName' | translate }} <span class="text-danger">*</span></label>
        <input type="text" class="ov-input" [(ngModel)]="occupantName" name="occupantName" placeholder="Enter full name">
      </div>
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">Phone on Lease</label>
          <div class="ov-phone">
            <span class="ov-phone__code">
              <img src="https://flagcdn.com/w20/ae.png" class="w-4 h-3" alt="">
              <span>+971</span>
            </span>
            <input type="text" class="ov-input" [(ngModel)]="occupantPhone" name="occupantPhone" placeholder="Enter">
          </div>
        </div>
        <div>
          <label class="ov-label">{{ 'web.contacts.lblEmail' | translate }}</label>
          <input type="email" class="ov-input" [(ngModel)]="occupantEmail" name="occupantEmail" placeholder="Email">
        </div>
      </div>

      <button type="button" class="lease-add-occupant-btn" (click)="addOccupant()">
        <img src="assets/images/work-orders/plus.svg" alt="" width="18" height="18" aria-hidden="true" />
        <span>{{ (editingOccupantIndex !== null ? 'web.leases.lblEditOccupant' : 'web.leases.lblAddOccupant') | translate }}</span>
      </button>

      <div class="lease-added-occupants">
        <div class="lease-added-occupants__head">
          <h6 class="ov-card-title !text-[16px] m-0">Added occupants</h6>
          <span class="lease-added-badge">{{ occupants.length }} added</span>
        </div>

        <div *ngIf="occupants.length > 0" class="lease-added-occupants__list">
          <div *ngFor="let occ of occupants; let idx = index" class="lease-added-card">
            <div class="lease-added-card__grid">
              <div>
                <p class="lease-added-card__label">Name</p>
                <p class="lease-added-card__value">{{ occ.name }}</p>
              </div>
              <div>
                <p class="lease-added-card__label">Phone</p>
                <p class="lease-added-card__value">{{ occ.phone || '—' }}</p>
              </div>
              <div>
                <p class="lease-added-card__label">Email</p>
                <p class="lease-added-card__value truncate" [title]="occ.email">{{ occ.email || '—' }}</p>
              </div>
            </div>
            <div class="lease-added-card__actions">
              <button type="button" class="lease-action-btn" (click)="editOccupant(idx)" title="Edit">
                <img src="assets/images/leases/pencil.svg" alt="" width="16" height="16" />
              </button>
              <button type="button" class="lease-action-btn" (click)="removeOccupant(idx)" title="Delete">
                <img src="assets/images/leases/trash.svg" alt="" width="16" height="16" />
              </button>
            </div>
          </div>
        </div>
        <p *ngIf="occupants.length === 0" class="text-[12px] text-textmuted italic text-center py-4 m-0">No occupants added yet</p>
      </div>
    </div>

    <div class="ov-modal__footer">
      <button type="button" class="ov-btn ov-btn-ghost" (click)="closeOccupantsModal()">Close</button>
      <button type="button" class="ov-btn ov-btn-primary" (click)="closeOccupantsModal()">Save</button>
    </div>
  </div>
</div>
