<form class="rs-settings" [formGroup]="regionalSettingsForm" (ngSubmit)="onSubmit()">
  <div class="rs-settings__page-header">
    <div class="rs-settings__title-block">
      <h1 class="rs-settings__title">{{ 'web.settings.regional.lblTitle' | translate }}</h1>
      <p class="rs-settings__subtitle">
        {{ 'web.settings.regional.lblSubtitle' | translate }}
      </p>
    </div>
    <span class="rs-settings__summary">
      <img src="./assets/images/settings/globe.svg" alt="" width="14" height="14" />
      {{ summaryLabel }}
    </span>
  </div>

  <div class="rs-settings__tip">
    {{ 'web.settings.regional.lblTip' | translate }}
  </div>

  <section class="rs-settings__card">
    <div class="rs-settings__section-head">
      <h2 class="rs-settings__section-title">{{ 'web.settings.regional.lblTimeCalendar' | translate }}</h2>
      <p class="rs-settings__section-sub">{{ 'web.settings.regional.lblTimeCalendarSub' | translate }}</p>
    </div>

    <div class="rs-settings__row">
      <div class="rs-settings__field">
        <label class="rs-settings__label" for="rs-timezone">{{ 'web.settings.regional.lblTimezone' | translate }}</label>
        <ng-select
          id="rs-timezone"
          class="ov-select w-full"
          [items]="timezones"
          bindLabel="name"
          bindValue="id"
          formControlName="timezone"
          [placeholder]="'web.settings.regional.phTimezone' | translate"
          [searchable]="true"
          [clearable]="false"
        ></ng-select>
        <p class="rs-settings__hint">{{ 'web.settings.regional.lblTimezoneHint' | translate }}</p>
        <div
          class="rs-settings__error"
          *ngIf="regionalSettingsForm.get('timezone')?.touched && regionalSettingsForm.get('timezone')?.hasError('required')"
        >
          {{ 'web.settings.regional.errTimezoneReq' | translate }}
        </div>
      </div>

      <div class="rs-settings__field">
        <label class="rs-settings__label" for="rs-date-format">{{ 'web.settings.regional.lblDateFormat' | translate }}</label>
        <ng-select
          id="rs-date-format"
          class="ov-select w-full"
          [items]="dateFormats"
          bindLabel="name"
          bindValue="id"
          formControlName="dateFormat"
          [placeholder]="'web.settings.regional.phDateFormat' | translate"
          [searchable]="false"
          [clearable]="false"
        ></ng-select>
        <p class="rs-settings__hint">{{ 'web.settings.regional.lblDateFormatHint' | translate }}</p>
        <div
          class="rs-settings__error"
          *ngIf="regionalSettingsForm.get('dateFormat')?.touched && regionalSettingsForm.get('dateFormat')?.hasError('required')"
        >
          {{ 'web.settings.regional.errDateFormatReq' | translate }}
        </div>
      </div>
    </div>

    <div class="rs-settings__row">
      <div class="rs-settings__field">
        <label class="rs-settings__label" for="rs-first-day">{{ 'web.settings.regional.lblFirstDayOfWeek' | translate }}</label>
        <ng-select
          id="rs-first-day"
          class="ov-select w-full"
          [items]="weekDays"
          bindLabel="name"
          bindValue="id"
          formControlName="firstDayOfWeek"
          [placeholder]="'web.settings.regional.phFirstDay' | translate"
          [searchable]="false"
          [clearable]="false"
        ></ng-select>
        <p class="rs-settings__hint">{{ 'web.settings.regional.lblFirstDayHint' | translate }}</p>
      </div>

      <div class="rs-settings__field rs-settings__field--note">
        <span class="rs-settings__label rs-settings__label--spacer" aria-hidden="true">&nbsp;</span>
        <div class="rs-settings__info-note">
          <p class="rs-settings__info-title">{{ 'web.settings.regional.lblTipTitle' | translate }}</p>
          <p class="rs-settings__info-text">
            {{ 'web.settings.regional.lblTipText' | translate }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="rs-settings__card">
    <div class="rs-settings__section-head">
      <h2 class="rs-settings__section-title">{{ 'web.settings.regional.lblMoneyUnits' | translate }}</h2>
      <p class="rs-settings__section-sub">{{ 'web.settings.regional.lblMoneyUnitsSub' | translate }}</p>
    </div>

    <div class="rs-settings__row">
      <div class="rs-settings__field">
        <label class="rs-settings__label" for="rs-currency">{{ 'web.settings.regional.lblCurrency' | translate }}</label>
        <ng-select
          id="rs-currency"
          class="ov-select w-full"
          [items]="currencies"
          bindLabel="displayName"
          bindValue="id"
          formControlName="currency"
          [placeholder]="'web.settings.regional.phCurrency' | translate"
          [searchable]="true"
          [clearable]="false"
        ></ng-select>
        <p class="rs-settings__hint">{{ 'web.settings.regional.lblCurrencyHint' | translate }}</p>
        <div
          class="rs-settings__error"
          *ngIf="regionalSettingsForm.get('currency')?.touched && regionalSettingsForm.get('currency')?.hasError('required')"
        >
          {{ 'web.settings.regional.errCurrencyReq' | translate }}
        </div>
      </div>

      <div class="rs-settings__field">
        <label class="rs-settings__label" for="rs-unit-system">{{ 'web.settings.regional.lblUnitSystem' | translate }}</label>
        <ng-select
          id="rs-unit-system"
          class="ov-select w-full"
          [items]="unitSystems"
          bindLabel="name"
          bindValue="id"
          formControlName="unitSystem"
          [placeholder]="'web.settings.regional.phUnitSystem' | translate"
          [searchable]="false"
          [clearable]="false"
        ></ng-select>
        <p class="rs-settings__hint">{{ 'web.settings.regional.lblUnitSystemHint' | translate }}</p>
        <div
          class="rs-settings__error"
          *ngIf="regionalSettingsForm.get('unitSystem')?.touched && regionalSettingsForm.get('unitSystem')?.hasError('required')"
        >
          {{ 'web.settings.regional.errUnitSystemReq' | translate }}
        </div>
      </div>
    </div>

    <div class="rs-settings__row">
      <div class="rs-settings__field">
        <label class="rs-settings__label" for="rs-payment">{{ 'web.settings.regional.lblDefaultPayment' | translate }}</label>
        <ng-select
          id="rs-payment"
          class="ov-select w-full"
          [items]="paymentMethods"
          bindLabel="name"
          bindValue="id"
          formControlName="defaultPaymentMethod"
          [placeholder]="'web.settings.regional.phPayment' | translate"
          [searchable]="false"
          [clearable]="false"
        ></ng-select>
        <p class="rs-settings__hint">{{ 'web.settings.regional.lblDefaultPaymentHint' | translate }}</p>
        <div
          class="rs-settings__error"
          *ngIf="regionalSettingsForm.get('defaultPaymentMethod')?.touched && regionalSettingsForm.get('defaultPaymentMethod')?.hasError('required')"
        >
          {{ 'web.settings.regional.errDefaultPaymentReq' | translate }}
        </div>
      </div>

      <div class="rs-settings__field rs-settings__field--note">
        <span class="rs-settings__label rs-settings__label--spacer" aria-hidden="true">&nbsp;</span>
        <div class="rs-settings__payment-note">
          {{ 'web.settings.regional.lblPaymentNote' | translate }}
        </div>
      </div>
    </div>
  </section>

  <div class="rs-settings__footer">
    <p class="rs-settings__footer-note">
      {{ 'web.settings.regional.lblFooterNote' | translate }}
    </p>
    <button type="submit" class="ov-btn ov-btn-primary" [disabled]="regionalSettingsForm.invalid">
      {{ 'web.settings.regional.btnUpdate' | translate }}
    </button>
  </div>
</form>
