<div class="flex flex-col gap-4 page-header !py-4 md:flex-row md:items-start md:justify-between">
  <div class="flex items-start gap-4">
    <a routerLink="/contacts/landlords" class="ov-back" title="Back to Landlords">
      <img src="assets/images/common/arrow-narrow-left.svg" alt="" width="24" height="24" />
    </a>
    <div>
      <h3 class="ov-page-title">{{ 'web.contacts.lblLandlordDetails' | translate }}</h3>
      <ol class="ov-page-sub mt-1 flex flex-wrap items-center">
        <li><a [routerLink]="['/insights']">Home</a></li>
        <li class="px-2">/</li>
        <li><a routerLink="/contacts/landlords">Contacts</a></li>
        <li class="px-2">/</li>
        <li><a routerLink="/contacts/landlords">Landlords</a></li>
        <li class="px-2">/</li>
        <li class="font-semibold text-defaulttextcolor">Details</li>
      </ol>
    </div>
  </div>
  <div class="flex flex-wrap items-center gap-2">
    <div class="relative">
      <button type="button" class="ov-btn ov-btn-ghost" (click)="showActionDropdown = !showActionDropdown"
        [attr.aria-expanded]="showActionDropdown">
        Action
        <img src="assets/images/common/chevron-down.svg" alt="" width="14" height="14" />
      </button>
      <div *ngIf="showActionDropdown" class="ov-action-menu" role="menu">
        <div class="ov-action-menu__list">
          <ng-container *ngFor="let option of actionOptions">
            <button *ngIf="!option.danger" type="button" role="menuitem"
              class="ov-action-menu__item"
              [class.ov-action-menu__item--danger-icon]="option.dangerIcon"
              (click)="$event.stopPropagation(); onLandlordAction(option.label)">
              <span class="ov-action-menu__icon-box">
                <img *ngIf="option.asset" class="ov-action-menu__icon" [src]="option.asset" alt="" width="14" height="14">
                <i *ngIf="!option.asset" [class]="option.icon + ' text-[14px]'"></i>
              </span>
              <span>{{ option.label }}</span>
            </button>
          </ng-container>
        </div>
        <div class="ov-action-menu__footer" *ngIf="hasDangerAction">
          <ng-container *ngFor="let option of actionOptions">
            <button *ngIf="option.danger" type="button" role="menuitem"
              class="ov-action-menu__item ov-action-menu__item--danger"
              (click)="$event.stopPropagation(); onLandlordAction(option.label)">
              <span class="ov-action-menu__icon-box">
                <img *ngIf="option.asset" class="ov-action-menu__icon" [src]="option.asset" alt="" width="14" height="14">
                <i *ngIf="!option.asset" [class]="option.icon + ' text-[14px]'"></i>
              </span>
              <span>{{ option.label }}</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <button type="button" class="ov-btn ov-btn-primary" [routerLink]="['/contacts/landlords/edit-landlord', landlordId]">
      {{ 'web.contacts.lblEditLandlord' | translate }}
    </button>
  </div>
</div>

<div class="ov-detail-layout pb-20">
  <div class="ov-detail-layout__left">
    <div class="ov-detail-side">
      <div class="ov-detail-side__hero">
        <div>
          <h4 class="ov-detail-side__title">{{ landlordData?.landlord || landlordData?.name || landlord.name || 'Loading...' }}</h4>
          <p class="ov-detail-side__email">
            <img src="assets/images/action-menu/mail.svg" alt="" width="13" height="13" />
            <span>{{ landlordData?.email_address || landlordData?.email || landlord.email || '' }}</span>
          </p>
        </div>
        <div class="ov-detail-side__actions">
          <button type="button" class="ov-detail-side__action">{{ 'web.contacts.lblViewActivity' | translate }}</button>
          <button type="button" class="ov-detail-side__action ov-detail-side__action--emphasis" (click)="showSubscriptionsModal = true">Email Sub ({{ subscriptionSubscribedCount }}/{{ subscriptions.length }})</button>
        </div>
      </div>

      <div class="ov-detail-side__rule"></div>
      <h6 class="ov-detail-side__section-title">Information</h6>

      <!-- Login Information -->
      <div class="ov-detail-panel">
        <div class="ov-detail-panel__head">
          <h6 class="ov-detail-panel__title">{{ 'web.contacts.lblLoginInformation' | translate }}</h6>
          <span class="ov-detail-chip ov-detail-chip--danger">Not Verified</span>
        </div>
        <div class="ov-detail-panel__body">
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblEmail' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.email }}</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblUsername' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.username }}</span>
          </div>
        </div>
        <div class="ov-detail-panel__footer">
          <button type="button" class="ov-btn ov-btn-ghost w-full !h-9 text-[12px]">{{ 'web.contacts.lblVerifyEmail' | translate }}</button>
        </div>
      </div>

      <!-- Personal Details -->
      <div class="ov-detail-panel">
        <div class="ov-detail-panel__head">
          <h6 class="ov-detail-panel__title">{{ 'web.contacts.lblPersonalDetails' | translate }}</h6>
        </div>
        <div class="ov-detail-panel__body">
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblID' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.personal.id }}</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblName' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.personal.name }}</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblEmail' | translate }}:</span>
            <span class="ov-kv__value ov-link">{{ landlord.personal.email }}</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblPhoneNumber' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.personal.phone }}</span>
          </div>

          <div class="my-1 flex justify-center">
            <a href="javascript:void(0)" (click)="showPersonalDetails = !showPersonalDetails"
              class="ov-link ov-more-toggle text-[12px] font-semibold">
              <span>{{ showPersonalDetails ? 'View less details' : 'View more details' }}</span>
              <img src="assets/images/common/chevron-down.svg" alt="" width="14" height="14" [class.rotate-180]="showPersonalDetails" />
            </a>
          </div>

          <div *ngIf="showPersonalDetails" class="flex flex-col gap-2.5 animate-fade-in">
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.contacts.lblDateOfBirth' | translate }}:</span>
              <span class="ov-kv__value">{{ landlord.personal.dob }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">Marital Status:</span>
              <span class="ov-kv__value">{{ landlord.personal.maritalStatus }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.contacts.lblNationality' | translate }}:</span>
              <span class="ov-kv__value">{{ landlord.personal.nationality }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.contacts.lblAddressLine1' | translate }}:</span>
              <span class="ov-kv__value">{{ landlord.personal.address1 }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.contacts.lblAddressLine2' | translate }}:</span>
              <span class="ov-kv__value">{{ landlord.personal.address2 }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.contacts.lblCountry' | translate }}:</span>
              <span class="ov-kv__value">{{ landlord.personal.country }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.contacts.lblStateProvince' | translate }}:</span>
              <span class="ov-kv__value">{{ landlord.personal.state }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.contacts.lblCity' | translate }}:</span>
              <span class="ov-kv__value">{{ landlord.personal.city }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">Profile Verified:</span>
              <span class="ov-detail-chip ov-detail-chip--danger">No</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Wallet Configuration -->
      <div class="ov-detail-panel">
        <div class="ov-detail-panel__head">
          <h6 class="ov-detail-panel__title">{{ 'web.contacts.lblWalletConfiguration' | translate }}</h6>
        </div>
        <div class="ov-detail-panel__body">
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblOpeningBalance' | translate }}:</span>
            <span class="ov-kv__value">AED {{ landlord.wallet.openingBalance }}</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblOpeningBalanceDate' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.wallet.openingBalanceDate }}</span>
          </div>

          <div class="flex justify-between items-center gap-3 py-1 border-t border-defaultborder mt-1">
            <span class="text-[13px] text-defaulttextcolor">Negative Balance Allowed</span>
            <div class="custom-toggle-switch shrink-0">
              <input type="checkbox" id="negBalance" [(ngModel)]="landlord.wallet.negativeBalanceAllowed">
              <label for="negBalance" class="label-primary"></label>
            </div>
          </div>

          <div class="flex justify-between items-center gap-3 py-1 border-t border-defaultborder">
            <span class="text-[13px] text-defaulttextcolor">Hold Wallet Money</span>
            <div class="custom-toggle-switch shrink-0">
              <input type="checkbox" id="holdWalletMoneyToggle" [(ngModel)]="landlord.wallet.holdWalletMoney">
              <label for="holdWalletMoneyToggle" class="label-primary"></label>
            </div>
          </div>

          <div class="flex justify-between items-center gap-3 py-1 border-t border-defaultborder">
            <span class="text-[13px] text-defaulttextcolor">{{ 'web.contacts.lblIncludeSecurityDeposit' | translate }}</span>
            <div class="custom-toggle-switch shrink-0">
              <input type="checkbox" id="includeDeposit" [(ngModel)]="landlord.wallet.includeSecurityDeposit">
              <label for="includeDeposit" class="label-primary"></label>
            </div>
          </div>

          <div class="flex justify-between items-center gap-3 py-1 border-t border-defaultborder">
            <span class="text-[13px] text-defaulttextcolor">Include Security Deposit (Non-Leasee)</span>
            <div class="custom-toggle-switch shrink-0">
              <input type="checkbox" id="includeDepositNonLeasee" [(ngModel)]="landlord.wallet.includeSecurityDepositNonLeasee">
              <label for="includeDepositNonLeasee" class="label-primary"></label>
            </div>
          </div>

          <div class="flex justify-between items-center gap-3 py-1 border-t border-defaultborder">
            <span class="text-[13px] text-defaulttextcolor">Include Contribution in Wallet Deposit</span>
            <div class="custom-toggle-switch shrink-0">
              <input type="checkbox" id="includeContributionWallet" [(ngModel)]="landlord.wallet.includeContributionWalletDeposit">
              <label for="includeContributionWallet" class="label-primary"></label>
            </div>
          </div>

          <div class="ov-kv border-t border-defaultborder pt-2.5">
            <span class="ov-kv__label">Money Held By:</span>
            <span class="ov-kv__value">{{ landlord.wallet.moneyHeldBy }}</span>
          </div>
        </div>
      </div>

      <!-- Banking Details -->
      <div class="ov-detail-panel">
        <div class="ov-detail-panel__head">
          <h6 class="ov-detail-panel__title">{{ 'web.contacts.lblBankingDetails' | translate }}</h6>
        </div>
        <div class="ov-detail-panel__body">
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblBankName' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.bank.name }}</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblBankAddress' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.bank.address }}</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblIban' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.bank.iban }}</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblSwift' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.bank.swift }}</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblAccountNumber' | translate }}:</span>
            <span class="ov-kv__value">{{ landlord.bank.accountNo }}</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">Sort Code:</span>
            <span class="ov-kv__value">{{ landlord.bank.sortCode }}</span>
          </div>
        </div>
      </div>

      <!-- Signature -->
      <div class="ov-detail-panel">
        <div class="ov-detail-panel__head">
          <h6 class="ov-detail-panel__title">{{ 'web.contacts.lblSignature' | translate }}</h6>
        </div>
        <div class="ov-detail-panel__body">
          <div class="flex justify-between items-center gap-3 py-1">
            <span class="text-[13px] text-defaulttextcolor">{{ 'web.contacts.lblAutoSign' | translate }}</span>
            <div class="custom-toggle-switch shrink-0">
              <input type="checkbox" id="autoSignToggle" [(ngModel)]="landlord.signature.autoSign">
              <label for="autoSignToggle" class="label-primary"></label>
            </div>
          </div>
          <div class="flex justify-between items-center gap-3 py-1 border-t border-defaultborder pt-2">
            <span class="text-[13px] text-defaulttextcolor">Signature Attached</span>
            <div class="custom-toggle-switch shrink-0">
              <input type="checkbox" id="sigAttachedToggle" [(ngModel)]="landlord.signature.signatureAttached">
              <label for="sigAttachedToggle" class="label-primary"></label>
            </div>
          </div>

          <div class="ov-detail-panel__empty !mx-0 !mb-0">
            <i class="ri-image-line text-2xl text-textmuted"></i>
            <span class="text-[12px] text-textmuted font-medium">No signature uploaded</span>
            <span class="text-[11px] text-textmuted">Signature image will appear here when uploaded</span>
          </div>
        </div>
      </div>

      <!-- Emergency Contact -->
      <div class="ov-detail-panel">
        <div class="ov-detail-panel__head">
          <h6 class="ov-detail-panel__title">Emergency Contact</h6>
          <button type="button" (click)="showAddEmergencyContactModal = true"
            class="ov-icon-btn !h-7 !w-7 !rounded-md bg-primary text-white border-0" aria-label="Add emergency contact">
            <img src="assets/images/work-orders/plus.svg" alt="" width="16" height="16" />
          </button>
        </div>
        <div class="ov-detail-panel__body">
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblEmail' | translate }}:</span>
            <span class="ov-kv__value">zaidrahman&#64;gmail.com</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">{{ 'web.contacts.lblName' | translate }}:</span>
            <span class="ov-kv__value">Zaid Rahman</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">Relation:</span>
            <span class="ov-kv__value">Brother</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">Phone:</span>
            <span class="ov-kv__value">05690 253 25</span>
          </div>
          <div class="ov-kv">
            <span class="ov-kv__label">Work Phone:</span>
            <span class="ov-kv__value">05682 605 52</span>
          </div>
        </div>
      </div>

      <!-- Custom Fields -->
      <div class="ov-detail-panel">
        <div class="ov-detail-panel__head">
          <h6 class="ov-detail-panel__title">Custom Fields</h6>
        </div>
        <div class="ov-detail-panel__empty">No custom fields configured yet. Custom fields will appear here when configured.</div>
      </div>
    </div>
  </div>

  <div class="ov-detail-layout__right">
    <div class="box ov-card overflow-visible shadow-none !mb-0">
    <div class="ov-detail-tabs">
      <button type="button" *ngFor="let tab of tabs" class="ov-detail-tabs__btn"
        [class.is-active]="activeTab === tab" (click)="setTab(tab)">{{ tab }}</button>
    </div>

    <div class="p-5">
    <!-- TAB: Wallet -->
    <div *ngIf="activeTab === 'Wallet'" class="flex flex-col gap-5 animate-fade-in">
      <h4 class="ov-card-title m-0">Landlord Overview</h4>

      <!-- Financial Summary (Figma 1467:56820) -->
      <section class="ov-finance-summary" aria-label="Financial Summary">
        <div class="ov-finance-summary__head">
          <div class="ov-finance-summary__head-text">
            <h5 class="ov-finance-summary__title">Financial Summary</h5>
            <p class="ov-finance-summary__sub">
              Important values are grouped first, so the user can understand the portfolio position quickly.
            </p>
          </div>
          <div class="ov-finance-summary__status" aria-label="Portfolio status Active">
            <span class="ov-finance-summary__status-dot" aria-hidden="true"></span>
            <div>
              <span class="ov-finance-summary__status-label">Portfolio status</span>
              <span class="ov-finance-summary__status-value">Active</span>
            </div>
          </div>
        </div>

        <div class="ov-finance-summary__body">
          <div class="ov-finance-summary__row">
            <article class="ov-finance-summary__cash">
              <img class="ov-finance-summary__blob" src="assets/images/contacts/finance-blob.svg" alt="" aria-hidden="true" />
              <div>
                <span class="ov-finance-summary__cash-label">Cash Balance</span>
                <p class="ov-finance-summary__cash-value">AED {{ (landlordData?.cash_balance || landlordData?.wallet_balance || landlord.wallet.openingBalance || 0) | number:'1.2-2' }}</p>
              </div>
              <div class="ov-finance-summary__cash-metrics">
                <div class="ov-finance-summary__cash-metric">
                  <span class="ov-finance-summary__cash-metric-label">Portfolio Total Income</span>
                  <span class="ov-finance-summary__cash-metric-value">AED {{ (landlordData?.total_income || landlordData?.income || 0) | number:'1.2-2' }}</span>
                </div>
                <div class="ov-finance-summary__cash-metric">
                  <span class="ov-finance-summary__cash-metric-label">Wallet Deposit</span>
                  <span class="ov-finance-summary__cash-metric-value">AED {{ (landlordData?.wallet_deposit || landlordData?.deposit || 0) | number:'1.2-2' }}</span>
                </div>
              </div>
            </article>

            <div class="ov-finance-summary__tiles">
              <article class="ov-finance-summary__tile">
                <span class="ov-finance-summary__tile-label">{{ 'web.contacts.lblPortfolioExpense' | translate }}</span>
                <span class="ov-finance-summary__tile-value">AED {{ (landlordData?.portfolio_expense || landlordData?.expense || 0) | number:'1.2-2' }}</span>
              </article>
              <article class="ov-finance-summary__tile">
                <span class="ov-finance-summary__tile-label">{{ 'web.contacts.lblManagementFee' | translate }}</span>
                <span class="ov-finance-summary__tile-value">AED {{ (landlordData?.management_fee || landlordData?.fee || 0) | number:'1.2-2' }}</span>
              </article>
              <article class="ov-finance-summary__tile">
                <span class="ov-finance-summary__tile-label">{{ 'web.contacts.lblLandlordContribution' | translate }}</span>
                <span class="ov-finance-summary__tile-value">AED {{ (landlordData?.landlord_contribution || landlordData?.contribution || 0) | number:'1.2-2' }}</span>
              </article>
              <article class="ov-finance-summary__tile">
                <span class="ov-finance-summary__tile-label">{{ 'web.contacts.lblLandlordDistribution' | translate }}</span>
                <span class="ov-finance-summary__tile-value">AED {{ (landlordData?.landlord_distribution || landlordData?.distribution || 0) | number:'1.2-2' }}</span>
              </article>
            </div>
          </div>

          <h6 class="ov-finance-summary__other-title">{{ 'web.contacts.lblOtherAmounts' | translate }}</h6>
          <div class="ov-finance-summary__other">
            <article class="ov-finance-summary__tile">
              <span class="ov-finance-summary__tile-label">{{ 'web.contacts.lblPortfolioPerformance' | translate }}</span>
              <span class="ov-finance-summary__tile-value">AED {{ (landlordData?.portfolio_performance || landlordData?.performance || 0) | number:'1.2-2' }}</span>
            </article>
          </div>
        </div>
      </section>

      <!-- Transaction Ledger -->
      <div class="flex flex-col gap-4">
        <h5 class="ov-card-title m-0">{{ 'web.contacts.lblTransactionLedger' | translate }}</h5>
        <div class="ov-toolbar !border-b-0 !px-0 !h-auto min-h-10 !pt-0 !pb-0 flex-col sm:flex-row items-stretch sm:items-center">
          <div class="ov-search flex-1 max-w-none sm:max-w-[437px]">
            <label class="sr-only" for="landlord-ledger-search">Search transaction ledger</label>
            <img src="assets/images/work-orders/search.svg" alt="" width="15" height="15" class="ov-search__icon" />
            <input id="landlord-ledger-search" type="text" class="ov-input ov-search__input" placeholder="Search" />
          </div>
          <div class="ov-toolbar__btns">
            <button type="button" class="ov-btn ov-btn-toolbar"
              [attr.data-tooltip]="'web.contacts.lblColumn' | translate">
              <img src="assets/images/work-orders/columns.svg" alt="" width="18" height="18" />
              Columns
            </button>
          </div>
        </div>

        <app-shared-table
          [columns]="transactionColumns"
          [data]="transactionData"
          [loading]="false"
          [hasActions]="false"
          [totalRecords]="transactionData.length">
          <ng-template #colTemplate let-row="row" let-col="col">
            <ng-container *ngIf="col.key === 'paymentVia'">
              <span *ngIf="row.paymentVia === 'Cash'" class="ov-status ov-status--soft">Cash</span>
              <span *ngIf="row.paymentVia !== 'Cash'">{{ row.paymentVia }}</span>
            </ng-container>
          </ng-template>
        </app-shared-table>
      </div>
    </div>

    <!-- TAB: Units -->
    <div *ngIf="activeTab === 'Units'" class="flex flex-col gap-4 animate-fade-in">
      <h4 class="ov-card-title m-0">{{ 'web.contacts.lblLandlordUnits' | translate }}</h4>

      <div class="ov-toolbar !border-b-0 !px-0 !h-auto min-h-10 !pt-0 !pb-0 flex-col sm:flex-row items-stretch sm:items-center">
        <div class="ov-search flex-1 max-w-none sm:max-w-[437px]">
          <label class="sr-only" for="landlord-units-search">Search units</label>
          <img src="assets/images/work-orders/search.svg" alt="" width="15" height="15" class="ov-search__icon" />
          <input id="landlord-units-search" type="text" class="ov-input ov-search__input" placeholder="Search" />
        </div>
        <div class="ov-toolbar__btns">
          <button type="button" class="ov-btn ov-btn-toolbar"
            [attr.data-tooltip]="'web.contacts.lblFilter' | translate">
            <img src="assets/images/work-orders/filter.svg" alt="" width="18" height="18" />
            Filter
          </button>
          <button type="button" class="ov-btn ov-btn-toolbar"
            [attr.data-tooltip]="'web.contacts.lblColumn' | translate">
            <img src="assets/images/work-orders/columns.svg" alt="" width="18" height="18" />
            Column
          </button>
        </div>
      </div>

      <app-shared-table
        [columns]="unitColumns"
        [data]="unitData"
        [loading]="false"
        [hasActions]="false"
        [totalRecords]="unitData.length">
        <ng-template #colTemplate let-row="row" let-col="col">
          <ng-container *ngIf="col.key === 'id'">
            <span class="ov-link font-semibold cursor-pointer">{{ row.id || row.code || '-' }}</span>
          </ng-container>
          <ng-container *ngIf="col.key === 'status'">
            <span class="ov-status"
              [class.ov-status--active]="row.status === 'Occupied' || row.status === 'Active'"
              [class.ov-status--blocked]="row.status === 'Vacant' || row.status === 'Inactive'">
              {{ row.status || '-' }}
            </span>
          </ng-container>
          <ng-container *ngIf="col.key === 'published'">
            <span class="ov-status"
              [class.ov-status--active]="row.published === 'Yes' || row.published === true"
              [class.ov-status--muted]="row.published !== 'Yes' && row.published !== true">
              {{ row.published || '-' }}
            </span>
          </ng-container>
          <ng-container *ngIf="col.key === 'forSale'">
            <span class="ov-status"
              [class.ov-status--active]="row.forSale === 'Yes' || row.forSale === true"
              [class.ov-status--muted]="row.forSale !== 'Yes' && row.forSale !== true">
              {{ row.forSale || '-' }}
            </span>
          </ng-container>
          <ng-container *ngIf="col.key === 'action'">
            <button type="button" class="ov-icon-btn ov-icon-btn--bare" aria-label="Action">
              <img src="assets/images/common/dots-vertical.svg" alt="" width="20" height="20" class="ov-action-ico" />
            </button>
          </ng-container>
        </ng-template>
      </app-shared-table>
    </div>

    <!-- TAB: Due Payment -->
    <div *ngIf="activeTab === 'Due Payment'" class="flex flex-col gap-4 animate-fade-in">
      <h4 class="ov-card-title m-0">{{ 'web.contacts.lblLandlordDuePayments' | translate }}</h4>

      <div class="ov-toolbar !border-b-0 !px-0 !h-auto min-h-10 !pt-0 !pb-0 flex-col sm:flex-row items-stretch sm:items-center">
        <div class="ov-search flex-1 max-w-none sm:max-w-[437px]">
          <label class="sr-only" for="landlord-due-search">Search due payments</label>
          <img src="assets/images/work-orders/search.svg" alt="" width="15" height="15" class="ov-search__icon" />
          <input id="landlord-due-search" type="text" class="ov-input ov-search__input" placeholder="Search" />
        </div>
        <div class="ov-toolbar__btns">
          <button type="button" class="ov-btn ov-btn-toolbar"
            [attr.data-tooltip]="'web.contacts.lblFilter' | translate">
            <img src="assets/images/work-orders/filter.svg" alt="" width="18" height="18" />
            Filter
          </button>
          <button type="button" class="ov-btn ov-btn-toolbar"
            [attr.data-tooltip]="'web.contacts.lblColumn' | translate">
            <img src="assets/images/work-orders/columns.svg" alt="" width="18" height="18" />
            Column
          </button>
        </div>
      </div>

      <app-shared-table
        [columns]="duePaymentColumns"
        [data]="duePaymentData"
        [loading]="false"
        [hasActions]="false"
        [totalRecords]="duePaymentData.length">
        <ng-template #colTemplate let-row="row" let-col="col">
          <ng-container *ngIf="col.key === 'id'">
            <span class="ov-link font-semibold cursor-pointer">{{ row.id || '-' }}</span>
          </ng-container>
          <ng-container *ngIf="col.key === 'status'">
            <span class="ov-status"
              [class.ov-status--active]="row.status === 'Paid'"
              [class.ov-status--muted]="row.status === 'Draft'"
              [class.ov-status--blocked]="row.status === 'Overdue'"
              [class.ov-status--warning]="row.status === 'Pending' || row.status === 'Partial'">
              {{ row.status || '-' }}
            </span>
          </ng-container>
          <ng-container *ngIf="col.key === 'action'">
            <button type="button" class="ov-icon-btn ov-icon-btn--bare" aria-label="Action">
              <img src="assets/images/common/dots-vertical.svg" alt="" width="20" height="20" class="ov-action-ico" />
            </button>
          </ng-container>
        </ng-template>
      </app-shared-table>
    </div>

    <!-- TAB: Agreement -->
    <div *ngIf="activeTab === 'Agreement'" class="flex flex-col gap-3 animate-fade-in">
      <div class="flex justify-between items-center mb-3 flex-wrap gap-2">
        <h6 class="box-title font-semibold text-gray-800 text-sm mb-0.5">{{ 'web.contacts.lblLandlordAgreement' | translate }}</h6>
        <div class="flex gap-2">
          <div class="input-group input-group-sm w-48 relative">
            <span class="absolute inset-y-0 left-0 pl-2.5 flex items-center pointer-events-none">
              <img src="assets/images/work-orders/search.svg" alt="" width="15" height="15" />
            </span>
            <input type="text" class="form-control form-control-sm pl-7.5 text-xs bg-gray-50"
              placeholder="Search agreements...">
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-3 mt-2">
        <div *ngFor="let agree of agreements"
          class="flex items-center gap-3 p-3 rounded-lg border border-gray-200 bg-gray-50 hover:bg-gray-100 transition-colors shadow-sm">
          <div class="w-10 h-10 rounded bg-danger/10 text-danger flex items-center justify-center font-bold text-sm">
            PDF
          </div>
          <div class="flex-grow min-w-0">
            <p class="text-xs font-bold text-gray-800 truncate m-0">{{ agree.name }}</p>
            <p class="text-[10px] text-gray-500 m-0 mt-0.5">{{ agree.size }} &bull; {{ agree.date }}</p>
          </div>
          <button
            class="w-8 h-8 rounded-md bg-white border border-gray-200 flex items-center justify-center text-gray-500 hover:text-gray-800 shadow-sm">
            <img src="assets/images/work-orders/download.svg" alt="" width="18" height="18" />
          </button>
        </div>
      </div>
    </div>

    <!-- TAB: Chat -->
    <div *ngIf="activeTab === 'Chat'" class="animate-fade-in">
      <div class="grid grid-cols-12 gap-3 min-h-[450px]">

        <!-- Left Side: Messages list (4 cols) -->
        <div class="col-span-12 md:col-span-4 border-r border-gray-100 pr-3 flex flex-col gap-3">
          <h6 class="box-title font-semibold text-gray-800 text-sm mb-0.5">Messages</h6>

          <!-- Search box -->
          <div class="input-group input-group-sm w-full relative">
            <span class="absolute inset-y-0 left-0 pl-2.5 flex items-center pointer-events-none">
              <img src="assets/images/work-orders/search.svg" alt="" width="15" height="15" />
            </span>
            <input type="text" class="form-control form-control-sm pl-7.5 text-[11px] bg-gray-50 rounded-md"
              placeholder="Search contacts...">
          </div>

          <!-- Contacts list -->
          <div class="flex flex-col gap-1 overflow-y-auto max-h-[350px]">
            <div *ngFor="let contact of chatContacts"
              class="flex items-center gap-2.5 p-2 rounded-lg bg-gray-50 border border-gray-200/50 cursor-pointer hover:bg-gray-100 transition-colors">
              <div
                class="w-8 h-8 rounded-full bg-primary/10 text-primary flex items-center justify-center font-bold text-xs uppercase relative">
                {{ contact.name.substring(0, 2) }}
                <span class="absolute bottom-0 right-0 w-2 h-2 rounded-full bg-success border border-white"></span>
              </div>
              <div class="flex-grow min-w-0">
                <p class="text-xs font-bold text-gray-800 m-0 truncate">{{ contact.name }}</p>
                <p class="text-[10px] text-gray-500 m-0 truncate">{{ contact.role }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Right Side: Active Chat (8 cols) -->
        <div class="col-span-12 md:col-span-8 flex flex-col justify-between pl-0 md:pl-3">
          <!-- Chat Header -->
          <div class="border-b border-gray-100 pb-2.5 flex justify-between items-center">
            <div class="flex items-center gap-2">
              <span class="font-bold text-xs text-gray-800">{{ selectedContact.name }}</span>
              <span
                class="text-[9px] px-1.5 py-0.5 rounded-full bg-success/10 text-success font-semibold flex items-center gap-1">
                <span class="w-1.5 h-1.5 rounded-full bg-success"></span> active
              </span>
            </div>
          </div>

          <!-- Messages container -->
          <div class="flex flex-col gap-3 my-3 overflow-y-auto max-h-[300px] flex-grow pr-1">
            <div *ngFor="let msg of chatMessages"
              class="flex flex-col max-w-[80%] rounded-lg p-3 shadow-sm text-xs relative"
              [ngClass]="msg.isSelf ? 'self-end bg-[#1f224f] text-white rounded-tr-none' : 'self-start bg-gray-50 border border-gray-200 text-gray-800 rounded-tl-none'">
              <p class="text-[9px] font-bold opacity-75 m-0 mb-1"
                [ngClass]="msg.isSelf ? 'text-gray-300' : 'text-primary'">{{ msg.sender }}</p>
              <p class="m-0 leading-normal">{{ msg.text }}</p>
              <span class="text-[8px] opacity-60 text-end block mt-1.5">{{ msg.time }}</span>
            </div>
          </div>

          <!-- Chat Input -->
          <div class="flex gap-2 items-center border-t border-gray-100 pt-3">
            <input type="text" [(ngModel)]="newMessageText" (keyup.enter)="sendChatMessage()"
              class="form-control form-control-sm text-xs flex-grow bg-gray-50 border-gray-200 rounded-md py-2"
              placeholder="Write a message...">
            <button (click)="sendChatMessage()"
              class="w-8 h-8 rounded-md bg-primary text-white border-0 hover:bg-primary-hover flex items-center justify-center shadow-sm">
              <i class="ri-send-plane-fill text-sm"></i>
            </button>
          </div>
        </div>

      </div>
    </div>

    <!-- TAB: Attachments -->
    <div *ngIf="activeTab === 'Attachments'" class="flex flex-col gap-3 animate-fade-in">
       <app-attachments-table [selectedTab]="selectedTab"></app-attachments-table>
    </div>

    <!-- TAB: Notes -->
    <div *ngIf="activeTab === 'Notes'" class="flex flex-col gap-3 animate-fade-in">
       <app-notes-table [selectedTab]="selectedTab"></app-notes-table>
    </div>

    <!-- TAB: User -->
    <div *ngIf="activeTab === 'User'" class="flex flex-col gap-3 animate-fade-in">
      <div class="flex justify-between items-center mb-3 flex-wrap gap-2 pb-2 border-b border-gray-100">
        <h6 class="box-title font-semibold text-gray-800 text-sm mb-0.5">{{ 'web.contacts.lblLandlordUsers' | translate }}</h6>
        <button type="button" (click)="showAddUserModal = true"
          class="ov-btn ov-btn-primary !h-9"
          [attr.data-tooltip]="'Add User'" aria-label="Add user">
          <img src="assets/images/work-orders/plus.svg" alt="" width="18" height="18" />
          Add User
        </button>
      </div>

      <div class="ov-toolbar !border-b-0 !px-0 !h-auto min-h-10 !pt-0 !pb-0 flex-col sm:flex-row items-stretch sm:items-center">
        <div class="ov-search flex-1 max-w-none sm:max-w-[437px]">
          <label class="sr-only" for="landlord-users-search">Search users</label>
          <img src="assets/images/work-orders/search.svg" alt="" width="15" height="15" class="ov-search__icon" />
          <input id="landlord-users-search" type="text" class="ov-input ov-search__input" placeholder="Search" />
        </div>
        <div class="ov-toolbar__btns">
          <button type="button" class="ov-btn ov-btn-toolbar"
            [attr.data-tooltip]="'web.contacts.lblFilter' | translate">
            <img src="assets/images/work-orders/filter.svg" alt="" width="18" height="18" />
            Filter
          </button>
          <button type="button" class="ov-btn ov-btn-toolbar"
            [attr.data-tooltip]="'web.contacts.lblColumn' | translate">
            <img src="assets/images/work-orders/columns.svg" alt="" width="18" height="18" />
            Column
          </button>
        </div>
      </div>

      <app-shared-table [columns]="userColumns" [data]="userData" [loading]="false" [hasActions]="false">
        <ng-template #colTemplate let-row="row" let-col="col">
          <ng-container *ngIf="col.key === 'id'">
            <div class="flex items-center gap-2">
              <span
                class="w-6 h-6 rounded-full bg-orange-100 text-orange-600 flex items-center justify-center text-[10px] font-bold">AY</span>
              <span class="text-primary font-bold cursor-pointer hover:underline">{{ row.id }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="col.key === 'status'">
            <span class="badge rounded px-2 py-0.5 text-[9px] font-bold bg-primary/10 text-primary uppercase">{{
              row.status }}</span>
          </ng-container>
        </ng-template>
      </app-shared-table>
    </div>

    <!-- TAB: Emergency Contact -->
    <div *ngIf="activeTab === 'Emergency Contact'" class="flex flex-col gap-3 animate-fade-in">
      <div class="flex justify-between items-center mb-3 flex-wrap gap-2 pb-2 border-b border-gray-100">
        <h6 class="box-title font-semibold text-gray-800 text-sm mb-0.5">{{ 'web.contacts.lblLandlordEmergencyContact' | translate }}</h6>
        <button type="button" (click)="showAddEmergencyContactModal = true"
          class="ov-btn ov-btn-primary !h-9"
          [attr.data-tooltip]="'Add Emergency Contact'" aria-label="Add emergency contact">
          <img src="assets/images/work-orders/plus.svg" alt="" width="18" height="18" />
          Add Emergency Contact
        </button>
      </div>

      <div class="ov-toolbar !border-b-0 !px-0 !h-auto min-h-10 !pt-0 !pb-0 flex-col sm:flex-row items-stretch sm:items-center">
        <div class="ov-search flex-1 max-w-none sm:max-w-[437px]">
          <label class="sr-only" for="landlord-emergency-search">Search emergency contacts</label>
          <img src="assets/images/work-orders/search.svg" alt="" width="15" height="15" class="ov-search__icon" />
          <input id="landlord-emergency-search" type="text" class="ov-input ov-search__input" placeholder="Search" />
        </div>
        <div class="ov-toolbar__btns">
          <button type="button" class="ov-btn ov-btn-toolbar"
            [attr.data-tooltip]="'web.contacts.lblFilter' | translate">
            <img src="assets/images/work-orders/filter.svg" alt="" width="18" height="18" />
            Filter
          </button>
          <button type="button" class="ov-btn ov-btn-toolbar"
            [attr.data-tooltip]="'web.contacts.lblColumn' | translate">
            <img src="assets/images/work-orders/columns.svg" alt="" width="18" height="18" />
            Column
          </button>
        </div>
      </div>

      <app-shared-table [columns]="emergencyContactColumns" [data]="emergencyContactData" [loading]="false"
        [hasActions]="false">
        <ng-template #colTemplate let-row="row" let-col="col">
          <ng-container *ngIf="col.key === 'id'">
            <div class="flex items-center gap-2">
              <span
                class="w-6 h-6 rounded-full bg-orange-100 text-orange-600 flex items-center justify-center text-[10px] font-bold">AY</span>
              <span class="text-primary font-bold cursor-pointer hover:underline">{{ row.id }}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="col.key === 'email'">
            <span>zaidrahman&#64;gmail.com</span>
          </ng-container>
          <ng-container *ngIf="col.key === 'includeInEmail'">
            <span class="badge bg-primary text-white font-bold px-2 py-0.5 rounded text-[10px] uppercase">{{
              row.includeInEmail }}</span>
          </ng-container>
        </ng-template>
      </app-shared-table>
    </div>

    </div>
    </div>
  </div>

</div>

<!-- Email Subscriptions — Figma 1727:155289 (filter-style right drawer) -->
<app-email-subscriptions-drawer
  [(isOpen)]="showSubscriptionsModal"
  [subscriptions]="subscriptions"
  [globalAllowed]="true"
  subtitle="Choose which automated email notifications should be sent.">
</app-email-subscriptions-drawer>

<!-- Modal 1: Inflow Popup -->
<div *ngIf="showInflowModal" class="ov-modal-backdrop" role="dialog" aria-modal="true">
  <div class="ov-modal-stack" style="max-width: 520px">
    <button type="button" class="ov-modal__float-close" (click)="showInflowModal = false" aria-label="Close">
      <img src="assets/images/common/close-plus.svg" alt="" width="20" height="20" class="ov-ico-x" />
    </button>
    <div class="ov-modal">
    <div class="ov-modal__header">
      <h4 class="ov-modal__title">Inflow Record</h4>
      <p class="ov-modal__sub">Register a manual inflow transaction to the landlord wallet.</p>
    </div>
    <div class="ov-modal__body flex flex-col gap-4">
      <div>
        <label class="ov-label">Amount (AED)</label>
        <input type="number" class="ov-input" placeholder="Enter amount">
      </div>
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">Date</label>
          <input type="date" class="ov-input">
        </div>
        <div>
          <label class="ov-label">Payment Method</label>
          <select class="ov-input">
            <option>Bank Transfer</option>
            <option>Cash</option>
            <option>Cheque</option>
          </select>
        </div>
      </div>
      <div>
        <label class="ov-label">Account Category</label>
        <select class="ov-input">
          <option>Rent Account</option>
          <option>Maintenance Fund</option>
        </select>
      </div>
      <div>
        <label class="ov-label">Description</label>
        <textarea rows="3" class="ov-input" placeholder="Enter transaction reference details..."></textarea>
      </div>
    </div>
    <div class="ov-modal__footer">
      <button type="button" (click)="showInflowModal = false" class="ov-btn ov-btn-ghost">Cancel</button>
      <button type="button" (click)="showInflowModal = false" class="ov-btn ov-btn-primary">Submit</button>
    </div>
  </div>
  </div>
</div>

<!-- Modal 2: Outflow Popup -->
<div *ngIf="showOutflowModal" class="ov-modal-backdrop" role="dialog" aria-modal="true">
  <div class="ov-modal-stack" style="max-width: 520px">
    <button type="button" class="ov-modal__float-close" (click)="showOutflowModal = false" aria-label="Close">
      <img src="assets/images/common/close-plus.svg" alt="" width="20" height="20" class="ov-ico-x" />
    </button>
    <div class="ov-modal">
    <div class="ov-modal__header">
      <h4 class="ov-modal__title">Outflow Record</h4>
      <p class="ov-modal__sub">Register a manual outflow transaction from the landlord wallet.</p>
    </div>
    <div class="ov-modal__body flex flex-col gap-4">
      <div>
        <label class="ov-label">Amount (AED)</label>
        <input type="number" class="ov-input" placeholder="Enter amount">
      </div>
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">Date</label>
          <input type="date" class="ov-input">
        </div>
        <div>
          <label class="ov-label">Payment Method</label>
          <select class="ov-input">
            <option>Bank Transfer</option>
            <option>Cash</option>
            <option>Cheque</option>
          </select>
        </div>
      </div>
      <div>
        <label class="ov-label">Expense Account</label>
        <select class="ov-input">
          <option>Management Fee</option>
          <option>Tax / VAT</option>
          <option>Maintenance Expenses</option>
        </select>
      </div>
      <div>
        <label class="ov-label">Description</label>
        <textarea rows="3" class="ov-input" placeholder="Enter transaction reference details..."></textarea>
      </div>
    </div>
    <div class="ov-modal__footer">
      <button type="button" (click)="showOutflowModal = false" class="ov-btn ov-btn-ghost">Cancel</button>
      <button type="button" (click)="showOutflowModal = false" class="ov-btn ov-btn-primary">Submit</button>
    </div>
  </div>
  </div>
</div>

<!-- Modal 3: Landlord Contribution Popup -->
<div *ngIf="showContributionModal" class="ov-modal-backdrop" role="dialog" aria-modal="true">
  <div class="ov-modal-stack" style="max-width: 520px">
    <button type="button" class="ov-modal__float-close" (click)="showContributionModal = false" aria-label="Close">
      <img src="assets/images/common/close-plus.svg" alt="" width="20" height="20" class="ov-ico-x" />
    </button>
    <div class="ov-modal">
    <div class="ov-modal__header">
      <h4 class="ov-modal__title">Landlord Contribution</h4>
      <p class="ov-modal__sub">Register a manual contribution to build reserves.</p>
    </div>
    <div class="ov-modal__body flex flex-col gap-4">
      <div>
        <label class="ov-label">Contribution Amount (AED)</label>
        <input type="number" class="ov-input" placeholder="Enter amount">
      </div>
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">Date</label>
          <input type="date" class="ov-input">
        </div>
        <div>
          <label class="ov-label">Paid By</label>
          <select class="ov-input">
            <option>Landlord</option>
            <option>Third Party Representative</option>
          </select>
        </div>
      </div>
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">Property</label>
          <select class="ov-input">
            <option>Marina Heights</option>
            <option>Green Heights</option>
          </select>
        </div>
        <div>
          <label class="ov-label">Unit</label>
          <select class="ov-input">
            <option>103-PR-10</option>
            <option>306-PR-2</option>
          </select>
        </div>
      </div>
      <div>
        <label class="ov-label">Purpose Description</label>
        <textarea rows="3" class="ov-input" placeholder="Enter details about contribution purpose (e.g. major repairs)..."></textarea>
      </div>
    </div>
    <div class="ov-modal__footer">
      <button type="button" (click)="showContributionModal = false" class="ov-btn ov-btn-ghost">Cancel</button>
      <button type="button" (click)="showContributionModal = false" class="ov-btn ov-btn-primary">Submit</button>
    </div>
  </div>
  </div>
</div>

<!-- Modal 4: Landlord Distribution Popup -->
<div *ngIf="showDistributionModal" class="ov-modal-backdrop" role="dialog" aria-modal="true">
  <div class="ov-modal-stack" style="max-width: 520px">
    <button type="button" class="ov-modal__float-close" (click)="showDistributionModal = false" aria-label="Close">
      <img src="assets/images/common/close-plus.svg" alt="" width="20" height="20" class="ov-ico-x" />
    </button>
    <div class="ov-modal">
    <div class="ov-modal__header">
      <h4 class="ov-modal__title">Landlord Distribution</h4>
      <p class="ov-modal__sub">Distribute wallet cash balance back to the landlord bank account.</p>
    </div>
    <div class="ov-modal__body flex flex-col gap-4">
      <div>
        <label class="ov-label">Distribution Amount (AED)</label>
        <input type="number" class="ov-input" placeholder="Enter amount to distribute">
      </div>
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">Date</label>
          <input type="date" class="ov-input">
        </div>
        <div>
          <label class="ov-label">Reference Number</label>
          <input type="text" class="ov-input" placeholder="REF-8927">
        </div>
      </div>
      <div>
        <label class="ov-label">Target Landlord Bank Account</label>
        <input type="text" readonly class="ov-input" [value]="landlord.bank.name + ' - ' + landlord.bank.iban">
      </div>
      <div>
        <label class="ov-label">Remarks</label>
        <textarea rows="3" class="ov-input" placeholder="Enter distribution remarks..."></textarea>
      </div>
    </div>
    <div class="ov-modal__footer">
      <button type="button" (click)="showDistributionModal = false" class="ov-btn ov-btn-ghost">Cancel</button>
      <button type="button" (click)="showDistributionModal = false" class="ov-btn ov-btn-primary">Process Distribution</button>
    </div>
  </div>
  </div>
</div>



<!-- Modal 7: Add User Popup -->
<div *ngIf="showAddUserModal" class="ov-modal-backdrop" role="dialog" aria-modal="true">
  <div class="ov-modal-stack" style="max-width: 520px">
    <button type="button" class="ov-modal__float-close" (click)="showAddUserModal = false" aria-label="Close">
      <img src="assets/images/common/close-plus.svg" alt="" width="20" height="20" class="ov-ico-x" />
    </button>
    <div class="ov-modal">
    <div class="ov-modal__header">
      <h4 class="ov-modal__title">Add User Contact</h4>
      <p class="ov-modal__sub">Register a secondary contact/owner to this landlord account.</p>
    </div>
    <div class="ov-modal__body flex flex-col gap-4">
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">First Name</label>
          <input type="text" class="ov-input" placeholder="Enter first name">
        </div>
        <div>
          <label class="ov-label">Last Name</label>
          <input type="text" class="ov-input" placeholder="Enter last name">
        </div>
      </div>
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">User Name</label>
          <input type="text" class="ov-input" placeholder="Enter username">
        </div>
        <div>
          <label class="ov-label">Role Type</label>
          <select class="ov-input">
            <option>Owner</option>
            <option>Landlord Representative</option>
            <option>Agent</option>
          </select>
        </div>
      </div>
      <div>
        <label class="ov-label">Email Address</label>
        <input type="email" class="ov-input" placeholder="e.g. contact@domain.com">
      </div>
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">Phone Number</label>
          <input type="text" class="ov-input" placeholder="e.g. 0528613568">
        </div>
        <div>
          <label class="ov-label">Status</label>
          <select class="ov-input">
            <option>Active</option>
            <option>Inactive</option>
          </select>
        </div>
      </div>
    </div>
    <div class="ov-modal__footer">
      <button type="button" (click)="showAddUserModal = false" class="ov-btn ov-btn-ghost">Cancel</button>
      <button type="button" (click)="showAddUserModal = false" class="ov-btn ov-btn-primary">Add User</button>
    </div>
  </div>
  </div>
</div>

<!-- Modal 8: Add Emergency Contact Popup -->
<div *ngIf="showAddEmergencyContactModal" class="ov-modal-backdrop" role="dialog" aria-modal="true">
  <div class="ov-modal-stack" style="max-width: 520px">
    <button type="button" class="ov-modal__float-close" (click)="showAddEmergencyContactModal = false" aria-label="Close">
      <img src="assets/images/common/close-plus.svg" alt="" width="20" height="20" class="ov-ico-x" />
    </button>
    <div class="ov-modal">
    <div class="ov-modal__header">
      <h4 class="ov-modal__title">Add Emergency Contact</h4>
      <p class="ov-modal__sub">Register a backup emergency contact for emergency communications.</p>
    </div>
    <div class="ov-modal__body flex flex-col gap-4">
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">Full Name</label>
          <input type="text" class="ov-input" placeholder="Zaid Rehman">
        </div>
        <div>
          <label class="ov-label">Relationship</label>
          <input type="text" class="ov-input" placeholder="Brother">
        </div>
      </div>
      <div class="ov-fields ov-fields--2">
        <div>
          <label class="ov-label">Personal Phone</label>
          <input type="text" class="ov-input" placeholder="0528613568">
        </div>
        <div>
          <label class="ov-label">Work Phone</label>
          <input type="text" class="ov-input" placeholder="05698 253 25">
        </div>
      </div>
      <div>
        <label class="ov-label">Email Address</label>
        <input type="email" class="ov-input" placeholder="zaidrahman&#64;gmail.com">
      </div>
      <div class="flex justify-between items-center gap-3 py-2 border-t border-defaultborder mt-1">
        <div class="flex-grow min-w-0 pr-3">
          <span class="text-[14px] font-semibold text-defaulttextcolor block">Include in Automated Emails</span>
          <span class="ov-modal__hint mt-1 block leading-tight">Allow emergency contact to receive copy of tenant lease alerts.</span>
        </div>
        <div class="custom-toggle-switch shrink-0">
          <input type="checkbox" id="includeInEmailToggle">
          <label for="includeInEmailToggle" class="label-primary"></label>
        </div>
      </div>
    </div>
    <div class="ov-modal__footer">
      <button type="button" (click)="showAddEmergencyContactModal = false" class="ov-btn ov-btn-ghost">Cancel</button>
      <button type="button" (click)="showAddEmergencyContactModal = false" class="ov-btn ov-btn-primary">Add Contact</button>
    </div>
  </div>
  </div>
</div>
