
<form [formGroup]="form" class="flex flex-col gap-4">
    <div>
        <label class="ov-label">
            {{ 'web.portfolio.popups.commonArea.lblAreaName' | translate }} <span class="text-danger">*</span>
        </label>
        <input
            type="text"
            class="ov-input"
            formControlName="areaName"
            placeholder="{{ 'web.portfolio.popups.commonArea.lblAreaNamePlaceHolder' | translate }}">
        <span class="ov-modal__hint">
            {{ 'web.portfolio.popups.commonArea.lblAreaNameHint' | translate }}
        </span>
    </div>

    <div>
        <label class="ov-label">
            {{ 'web.portfolio.popups.commonArea.lblFloorNo' | translate }}
        </label>
        <input
            type="text"
            class="ov-input"
            formControlName="floor"
            placeholder="{{ 'web.portfolio.popups.commonArea.lblFloorNoPlaceHolder' | translate }}">
    </div>
</form>
