<!-- Start::row-1 -->
 <div class="block justify-between page-header md:flex">
  <div>
    <h3 class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem]! font-semibold"> Properties</h3>
    <p>17 properties under management</p>
  </div>
  <div>
    <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] !text-white !font-medium btn-wave bg-primary waves-effect waves-light" routerLink="/add-property"><i
              class="ri-add-line font-semibold align-middle "></i> Add Property</button>
  </div>
    </div>
 <div class="xl:col-span-12 col-span-12">
        <div class="box">
          <div class="box-body">
            <div class="sm:grid grid-cols-12 md:gap-y-0 gap-y-4">
              <div class="2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-3 sm:col-span-12">
                <div class="flex items-start">
                  
                  <div class="flex-grow">
                    <p class="mb-0"><span class="badge bg-primary/10 text-primary">Total Properties</span></p>
                    <span class="block mb-1 text-[#8c9097] dark:text-white/50">17</span>
                    <h6 class="font-semibold mb-0 text-[1rem]">Across all categories</h6>
                  </div>
                </div>
              </div>
              <div class="2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-3 sm:col-span-12">
                <div class="flex items-start">
                  
                  <div class="flex-grow">
                    <p class="mb-0"><span class="badge bg-primary/10 text-primary">Total Units/Rooms</span></p>
                    <span class="block mb-1 text-[#8c9097] dark:text-white/50">2955</span>
                    <h6 class="font-semibold mb-0 text-[1rem]">2319 occupied</h6>
                  </div>
                </div>
              </div>
              <div class="2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-3 sm:col-span-12">
                <div class="flex items-start">
                  
                  <div class="flex-grow">
                    <p class="mb-0"><span class="badge bg-primary/10 text-primary">Active Leases</span></p>
                    <span class="block mb-1 text-[#8c9097] dark:text-white/50">2319</span>
                    <h6 class="font-semibold mb-0 text-[1rem]">Currently running</h6>
                  </div>
                </div>
              </div>
              <div class="2xl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span- sm:col-span-12">
                <div class="flex items-start">
                  
                  <div class="flex-grow">
                    <p class="mb-0"><span class="badge bg-primary/10 text-primary">Avg. Occupancy</span></p>
                    <span class="block mb-1 text-[#8c9097] dark:text-white/50">78.4%</span>
                    <h6 class="font-semibold mb-0 text-[1rem]">Portifolio average</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<div class="grid grid-cols-12 gap-x-6">
  <div class="xl:col-span-12 col-span-12">
    <div class="box">
      <div class="box-header justify-between">
        <div class="box-title">
          Manage Properties
        </div>
      </div>
      <div class="box-body">
        <div class="table-responsive">

    <spk-reusable-tables
        tableClass="table whitespace-nowrap table-bordered min-w-full"
        [columns]="columns">
        @for(property of properties; track property.id){
        <tr>
            <td>{{property.id}}</td>
            <td>
                <a class="text-primary font-semibold cursor-pointer">
                    {{property.name}}
                </a>
            </td>
            <td>{{property.type_name}}</td>
            <td>
                <span class="badge bg-success/10 text-success">
                    {{property['internal Status']}}
                </span>
            </td>
            <td>{{property.tags}}</td>
            <td>{{property.total_leases}}</td>
            <td>{{property.contracts}}</td>
            <td>{{property.total_units}}</td>
            <td>
                {{property.total_units > 0
                    ? ((property.occupied_units / property.total_units) * 100).toFixed(1)
                    : 0
                }}%
            </td>
            <td>
                <button class="ti-btn ti-btn-primary ti-btn-icon ti-btn-sm me-1">
                    <i class="ri-edit-line"></i>
                </button>
                <button class="ti-btn ti-btn-danger ti-btn-icon ti-btn-sm">
                    <i class="ri-delete-bin-line"></i>
                </button>
            </td>
        </tr>
        }
    </spk-reusable-tables>
</div>
<div class="flex flex-wrap items-center justify-between mt-5">

    <!-- Left -->
     <div class="flex items-center gap-2">
    <span>Show</span>

    <select
    class="form-select w-20"
    [(ngModel)]="pageSize"
    (change)="onPageSizeChange()">

    @for (size of pageSizeOptions; track size) {
        <option [value]="size">{{ size }}</option>
    }

</select>
</div>
    <div class="text-sm text-gray-600">
        Showing
        <strong>{{startRecord}}</strong>
        to
        <strong>{{endRecord}}</strong>
        of
        <strong>{{totalRecords}}</strong>
        records
    </div>

    <!-- Right -->
    <div class="flex items-center gap-2">

        <button
            class="ti-btn ti-btn-light"
            (click)="previousPage()"
            [disabled]="pageNo==1">

            Previous

        </button>

        @for(page of pages; track page){

        <button
            class="ti-btn"
            [ngClass]="page==pageNo ? 'ti-btn-primary' : 'ti-btn-light'"
            (click)="goToPage(page)">

            {{page}}

        </button>

        }

        <button
            class="ti-btn ti-btn-light"
            (click)="nextPage()"
            [disabled]="pageNo==totalPages">

            Next

        </button>

    </div>

</div>
      </div>
    </div>
  </div>
</div>
<!--End::row-1 -->
