<div class="ov-page ov-page--table">
  <div class="ov-page__meta">
    <ng-container *ngIf="showPageSize">
      <span class="ov-page__label">Show</span>
      <div class="ov-page__size">
        <select [ngModel]="pageSize" (ngModelChange)="onPageSizeChange($event)">
          <option *ngFor="let size of pageSizeOptions" [ngValue]="size">{{ size }}</option>
        </select>
        <img src="assets/images/common/chevron-down.svg" alt="" width="14" height="14" />
      </div>
    </ng-container>
    <span>Showing {{ startRecord }} to {{ endRecord }} of {{ totalRecords }} records</span>
  </div>
  <div class="ov-page__nav">
    <span class="ov-page__label">Page {{ displayPage }} of {{ totalPages || 1 }}</span>
    <div class="ov-page__btns">
      <button type="button" class="ov-page__btn" (click)="previousPage()" [disabled]="displayPage <= 1"
        aria-label="Previous page">
        <img src="assets/images/common/chevron-down.svg" alt="" width="14" height="14"
          class="ov-page__chevron ov-page__chevron--prev" />
      </button>
      <ng-container *ngFor="let item of pagerItems">
        <span *ngIf="item === '...'" class="ov-page__ellipsis">...</span>
        <button *ngIf="item !== '...'" type="button" class="ov-page__btn" [class.is-active]="item === displayPage"
          (click)="goToPage(+item)">{{ item }}</button>
      </ng-container>
      <button type="button" class="ov-page__btn" (click)="nextPage()" [disabled]="displayPage >= (totalPages || 1)"
        aria-label="Next page">
        <img src="assets/images/common/chevron-down.svg" alt="" width="14" height="14"
          class="ov-page__chevron ov-page__chevron--next" />
      </button>
    </div>
  </div>
</div>