<div class="flex flex-col gap-4 page-header !py-4 md:flex-row md:items-start md:justify-between">
  <div class="flex items-start gap-4">
    <a [routerLink]="['/properties']" class="ov-back" title="Back to Properties">
      <img src="assets/images/common/arrow-narrow-left.svg" alt="" width="24" height="24" />
    </a>
    <div>
      <h3 class="ov-page-title">{{ property?.name || 'Marina Heights Towers' }}</h3>
      <ol class="ov-page-sub mt-1 flex flex-wrap items-center">
        <li><a [routerLink]="['/insights']">{{ 'web.common.lblHome' | translate }}</a></li>
        <li class="px-2">/</li>
        <li><a [routerLink]="['/properties']">{{ 'web.property.lblProperties' | translate }}</a></li>
        <li class="px-2">/</li>
        <li><a [routerLink]="['/properties', property?.code]">{{ property?.name }}</a></li>
        <li class="px-2">/</li>
        <li class="font-semibold text-defaulttextcolor">{{ 'web.property.lblDetails' | translate }}</li>
      </ol>
    </div>
  </div>
  <div class="flex flex-wrap items-center gap-2">
    <div class="relative">
      <button type="button" class="ov-btn ov-btn-ghost" (click)="showActionMenu = !showActionMenu" [attr.aria-expanded]="showActionMenu">
        {{ 'web.property.lblAction' | translate }}
        <img src="assets/images/common/chevron-down.svg" alt="" width="14" height="14" />
      </button>
      <div *ngIf="showActionMenu" class="ov-action-menu" role="menu">
        <div class="ov-action-menu__list">
          <a role="menuitem" class="ov-action-menu__item" [routerLink]="['/edit-property', property?.code]" (click)="showActionMenu = false">
            <span class="ov-action-menu__icon-box">
              <img class="ov-action-menu__icon" src="assets/images/action-menu/pencil.svg" alt="" width="14" height="14">
            </span>
            <span>{{ 'web.property.lblEditProperty' | translate }}</span>
          </a>
          <a role="menuitem" class="ov-action-menu__item" [routerLink]="['/add-unit']" (click)="showActionMenu = false">
            <span class="ov-action-menu__icon-box">
              <img class="ov-action-menu__icon" src="assets/images/action-menu/plus.svg" alt="" width="14" height="14">
            </span>
            <span>Add Unit</span>
          </a>
          <button type="button" role="menuitem" class="ov-action-menu__item" (click)="onActionAddAttachment()">
            <span class="ov-action-menu__icon-box">
              <img class="ov-action-menu__icon" src="assets/images/action-menu/paperclip.svg" alt="" width="14" height="14">
            </span>
            <span>Add Attachment</span>
          </button>
          <button type="button" role="menuitem" class="ov-action-menu__item" (click)="onActionAddNotes()">
            <span class="ov-action-menu__icon-box">
              <img class="ov-action-menu__icon" src="assets/images/action-menu/file-invoice.svg" alt="" width="14" height="14">
            </span>
            <span>Add Notes</span>
          </button>
          <button type="button" role="menuitem" class="ov-action-menu__item" (click)="onActionViewActivity()">
            <span class="ov-action-menu__icon-box">
              <img class="ov-action-menu__icon" src="assets/images/action-menu/clock.svg" alt="" width="14" height="14">
            </span>
            <span>{{ 'web.property.lblViewActivity' | translate }}</span>
          </button>
        </div>
        <div class="ov-action-menu__footer">
          <button type="button" role="menuitem" class="ov-action-menu__item ov-action-menu__item--danger" (click)="onActionArchive()">
            <span class="ov-action-menu__icon-box">
              <img class="ov-action-menu__icon" src="assets/images/action-menu/archive.svg" alt="" width="14" height="14">
            </span>
            <span>Archive</span>
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="ov-btn ov-btn-primary" [routerLink]="['/edit-property', property?.code]">
      {{ 'web.property.lblEditProperty' | translate }}
    </button>
  </div>
</div>

<app-detail-page-layout [tabs]="tabs" (notify_edit_action)="handleEditNotification($event)"
    (search_on_child_grid)="handleSearch($event)" [(activeTab)]="activeTab" (saveClick)="savePopup($event)">

    <ng-template #leftPanel>
      <div class="box ov-card overflow-hidden p-5 flex flex-col gap-4">
        <div class="flex flex-col gap-3.5">
          <div>
            <h4 class="ov-card-title">{{ property?.name || 'Marina Heights Towers' }}</h4>
            <span class="ov-card-sub mt-1.5 flex items-center gap-1.5 !text-[13px]">
              <img src="assets/images/work-orders/map-pin.svg" alt="" width="13" height="13" /> {{ property?.address_1 }}
            </span>
          </div>

          <span class="inline-flex w-fit items-center gap-1.5 rounded-full bg-info/10 px-[15px] py-1 h-7 text-[13px] font-medium tracking-[0.26px] text-info">
            <i class="ri-home-4-line text-[15px]"></i>
            {{ property?.type_name || 'Residential' }}
          </span>

          <div class="rounded-lg bg-bodybg px-5 py-2.5 flex flex-col gap-2.5">
            <div class="flex items-end justify-between gap-3">
              <div class="flex flex-col gap-1">
                <div class="text-[14px] font-semibold text-defaulttextcolor">{{ 'web.property.lblOccupancy' | translate }}</div>
                <div class="text-[12px] font-light text-textmuted">
                  {{ occupiedUnits }} {{ 'web.property.lblOf' | translate }} {{ totalUnits }} {{ 'web.property.lblUnitsOccupied' | translate }}
                </div>
              </div>
              <div class="text-[18px] font-bold text-textmuted leading-none">{{ occupancyPct }}%</div>
            </div>
            <div class="w-full rounded-[10px] h-2.5 bg-primary/10">
              <div class="bg-info h-2.5 rounded-[10px]" [style.width.%]="occupancyPct"></div>
            </div>
          </div>

          <div class="flex gap-5">
            <button type="button" class="flex-1 ov-btn ov-btn-ghost !h-9 !text-[13px] !font-semibold">
              {{ 'web.property.lblViewActivity' | translate }}
            </button>
            <a [routerLink]="['/edit-property', property?.code]" class="flex-1 ov-btn ov-btn-primary !h-9 !text-[13px] !font-semibold">
              {{ 'web.property.lblEditProperty' | translate }}
              <i class="ri-arrow-right-line text-[14px]"></i>
            </a>
          </div>
        </div>

        <div class="border-t border-defaultborder"></div>
        <h5 class="ov-card-title m-0">{{ 'web.property.lblInformation' | translate }}</h5>

        <div class="ov-card overflow-hidden py-5">
          <div class="flex items-center justify-between px-5">
            <h5 class="ov-card-title m-0">{{ 'web.property.lblPropertyDetails' | translate }}</h5>
            <button type="button" class="ov-icon-btn ov-icon-btn--bare !w-9 !h-9" aria-label="More">
              <img src="assets/images/common/dots-vertical.svg" alt="" width="20" height="20" class="ov-action-ico" />
            </button>
          </div>
          <div class="flex flex-col gap-4 px-5 mt-5">
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.common.lblID' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.code || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.common.lblName' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.name || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblCategory' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.category_name || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblPropertyType' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.type_name || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblTags' | translate }}:</span>
              <span class="ov-kv__value">{{ tagsDisplay }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblTotalUnits' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.total_units || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblFloors' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.no_of_floors || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblOccupancy' | translate }}:</span>
              <span class="ov-kv__value">{{ occupancyPct }}%</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblSize' | translate }}:</span>
              <span class="ov-kv__value">{{ sizeDisplay }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblPropertyValue' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.purchase_value || '-' }}</span>
            </div>
          </div>
          <div class="border-t border-defaultborder mt-5"></div>
          <button type="button" (click)="toggleMoreDetails()" class="ov-link !text-[13px] font-semibold inline-flex items-center justify-center border-0 bg-transparent p-0 w-full mt-5">
            {{ 'web.property.lblViewMoreDetails' | translate }}
            <img src="assets/images/common/chevron-down.svg" alt="" width="14" height="14" class="ms-1" [class.rotate-180]="showMoreDetails" />
          </button>
          <div *ngIf="showMoreDetails" class="flex flex-col gap-4 px-5 mt-5">
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblPropertyPrefix' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.prefix || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblAddress1' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.address_1 || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblAddress2' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.address_2 || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblCity' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.city_name || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblState' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.state_name || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblCountry' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.country_name || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblCommunity' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.community || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblLandNo' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.land_no || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblCreated' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.created_date | date:'MM-dd-yyyy' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblLastUpdate' | translate }}:</span>
              <span class="ov-kv__value">{{ (property?.updated_date || property?.modified_date || property?.created_date) | date:'dd-MM-yyyy' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblDescription' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.description || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblZipCode' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.zip_code || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">Parking:</span>
              <span class="ov-kv__value">{{ property?.parking_spaces || '-' }}</span>
            </div>
          </div>
        </div>

        <div class="ov-card overflow-hidden py-5">
          <div class="flex items-center justify-between px-5">
            <h5 class="ov-card-title m-0">Location &amp; Coordinates</h5>
            <button type="button" class="ov-icon-btn ov-icon-btn--bare !w-9 !h-9" aria-label="More">
              <img src="assets/images/common/dots-vertical.svg" alt="" width="20" height="20" class="ov-action-ico" />
            </button>
          </div>
          <div class="flex flex-col gap-4 px-5 mt-5">
            <div class="ov-map" *ngIf="mapEmbedUrl; else mapPlaceholder">
              <iframe [src]="mapEmbedUrl" title="Property location" loading="lazy"></iframe>
            </div>
            <ng-template #mapPlaceholder>
              <div class="ov-map flex items-center justify-center text-[12px] text-textmuted">
                {{ property?.address_1 || ('web.property.lblAddress' | translate) }}
              </div>
            </ng-template>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblCity' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.city_name || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblState' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.state_name || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblCountry' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.country_name || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblCommunity' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.community || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblZipCode' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.zip_code || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblLatitude' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.lat || '-' }}</span>
            </div>
            <div class="ov-kv">
              <span class="ov-kv__label">{{ 'web.property.lblLongitude' | translate }}:</span>
              <span class="ov-kv__value">{{ property?.lon || '-' }}</span>
            </div>
          </div>
        </div>

        <div class="ov-card overflow-hidden py-5">
          <div class="flex items-center justify-between px-5">
            <h5 class="ov-card-title m-0">{{ 'web.property.lblCustomFields' | translate }}</h5>
            <button type="button" class="ov-icon-btn ov-icon-btn--bare !w-9 !h-9" aria-label="More">
              <img src="assets/images/common/dots-vertical.svg" alt="" width="20" height="20" class="ov-action-ico" />
            </button>
          </div>
          <div class="border-t border-defaultborder mt-[18px]"></div>
          <div class="px-5 pt-4">
            <div class="text-[14px] font-semibold text-defaulttextcolor">{{ 'web.property.lblMakaniNo' | translate }}</div>
            <div class="text-[14px] text-textmuted mt-1.5">{{ property?.makani_no || 'No value set' }}</div>
          </div>
        </div>

        <div class="ov-card overflow-hidden py-5">
          <div class="px-5">
            <h5 class="ov-card-title m-0">{{ 'web.property.lblServiceRequest' | translate }}</h5>
          </div>
          <div class="border-t border-defaultborder mt-[18px]"></div>
          <div class="flex items-start justify-between gap-3 px-5 pt-4">
            <div class="flex flex-col gap-2.5 min-w-0">
              <span class="text-[14px] font-medium text-textmuted">{{ 'web.property.lblServiceRequestsEnabled' | translate }}</span>
              <span class="text-[14px] text-textmuted leading-[18px]">{{ 'web.property.lblServiceRequestDescription' | translate }}</span>
            </div>
            <div class="form-check form-switch m-0 shrink-0">
              <input class="form-check-input" type="checkbox" id="serviceRequest" checked>
            </div>
          </div>
        </div>

        <div class="ov-card overflow-hidden py-5">
          <div class="px-5">
            <h5 class="ov-card-title m-0">{{ 'web.property.lblAmenities' | translate }}</h5>
          </div>
          <div class="border-t border-defaultborder mt-[18px]"></div>
          <div class="flex flex-wrap gap-2.5 px-5 pt-4">
            <span *ngFor="let amenity of property?.amenities">
              <span *ngIf="amenity.amenity" class="ov-amenity-chip">
                <i class="ri-check-line text-[16px]"></i>
                {{ amenity.amenity }}
              </span>
            </span>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #units>
      <app-shared-units-table [selectedTab]="selectedTab" [data]="selectedTab?.data || []"
        [loading]="selectedTab?.loading || false" [totalRecords]="selectedTab?.totalRecords || 0"
        [pageSize]="selectedTab?.pageSize || 50" [pageIndex]="selectedTab?.pageIndex || 0"
        [hasActions]="selectedTab?.hasActions || false"
        (notify_edit_action)="handleEditNotification($event)"></app-shared-units-table>
    </ng-template>

    <ng-template #notesTpl>
      <app-notes-table [selectedTab]="selectedTab"></app-notes-table>
    </ng-template>

    <ng-template #attachmentsTpl>
      <app-attachments-table [selectedTab]="selectedTab"></app-attachments-table>
    </ng-template>

    <ng-template #commonareaTpl>
      <app-commonarea-table [selectedTab]="selectedTab"></app-commonarea-table>
    </ng-template>

    <ng-template #parkingsTpl>
      <app-parkings-table [selectedTab]="selectedTab"></app-parkings-table>
    </ng-template>

    <ng-template #overview>
      <div class="flex flex-col gap-5">
        <div>
          <h5 class="ov-card-title">Property Overview</h5>
          <p class="sr-only">Real-time occupancy rates and performance breakdowns.</p>
        </div>

        <div class="w-full rounded-xl border border-defaultborder bg-white px-5 py-4">
          <div class="text-[14px] text-textmuted leading-4">Property Type</div>
          <div class="text-[24px] font-semibold leading-[31px] text-defaulttextcolor mt-0.5">{{ property?.type_name || 'Residential' }}</div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
          <div class="box ov-card flex flex-col items-center p-5">
            <div class="w-full mb-4">
              <div class="text-[16px] font-semibold leading-[21px] text-defaulttextcolor">Occupancy Rate</div>
              <div class="text-[14px] text-textmuted">Rooms</div>
            </div>
            <div class="relative size-[228px]">
              <svg class="size-full -rotate-90" viewBox="0 0 36 36">
                <path class="text-light" stroke-width="2.5" stroke="currentColor" fill="none"
                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                <path class="text-info" [attr.stroke-dasharray]="roomsOccupancyPct + ', 100'" stroke-width="2.5" stroke-linecap="round"
                  stroke="currentColor" fill="none"
                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
              </svg>
              <div class="absolute inset-0 flex flex-col items-center justify-center">
                <span class="text-[26px] font-extrabold text-defaulttextcolor">{{ roomsOccupancyPct }}%</span>
                <span class="text-[14px] font-medium text-textmuted">Occupied</span>
              </div>
            </div>
            <div class="mt-4 text-center">
              <div class="text-[14px] font-medium text-defaulttextcolor">Occupancy Rate</div>
              <div class="text-[14px] text-textmuted">{{ occupiedRooms }} / {{ totalRooms }} units</div>
              <div class="text-[14px] text-textmuted">Number of occupied rooms</div>
            </div>
          </div>

          <div class="box ov-card flex flex-col items-center p-5">
            <div class="w-full mb-4">
              <div class="text-[16px] font-semibold leading-[21px] text-defaulttextcolor">Occupancy Rate</div>
              <div class="text-[14px] text-textmuted">Units</div>
            </div>
            <div class="relative size-[228px]">
              <svg class="size-full -rotate-90" viewBox="0 0 36 36">
                <path class="text-light" stroke-width="2.5" stroke="currentColor" fill="none"
                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                <path class="text-purple" [attr.stroke-dasharray]="occupancyPct + ', 100'" stroke-width="2.5" stroke-linecap="round"
                  stroke="currentColor" fill="none"
                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
              </svg>
              <div class="absolute inset-0 flex flex-col items-center justify-center">
                <span class="text-[26px] font-extrabold text-defaulttextcolor">{{ occupancyPct }}%</span>
                <span class="text-[14px] font-medium text-textmuted">Occupied</span>
              </div>
            </div>
            <div class="mt-4 text-center">
              <div class="text-[14px] font-medium text-defaulttextcolor">Occupancy Rate</div>
              <div class="text-[14px] text-textmuted">{{ occupiedUnits }} / {{ totalUnits }} units</div>
              <div class="text-[14px] text-textmuted">Number of occupied units</div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </app-detail-page-layout>
