* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f6fa;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.insights-container{
    padding: 20px;
}
/* Main Container */

.dashboard-top{
    padding:10px 10px;
    margin-bottom:10px;
}

/* First Row */

.top-toolbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #eceef5;
}

/* Search */

.search-group{
    display:flex;
    gap:18px;
}

.search-box{
    width:250px;
    height:46px;
    border:1px solid #e4e8f0;
    border-radius:12px;
    background:#f7f8fc;
    display:flex;
    align-items:center;
    padding:0 15px;
}

.search-select{
    width:300px;
    height:46px;
    display:flex;
    align-items:center;
    background:#fff;
    border:1px solid #d9dce8;
    border-radius:12px;
    padding:0 14px;
    cursor:pointer;
}

.search-icon{
    color:#8a90a2;
    font-size:14px;
    margin-right:10px;
}

.search-select input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    font-size:14px;
    color:#2f3142;
    cursor:pointer;
}

.search-select input::placeholder{
    color:#9aa0b2;
}

.dropdown-icon{
    color:#8a90a2;
    font-size:12px;
    margin-left:10px;
}
.search-box i{
    color:#9097aa;
    margin-right:10px;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    font-size:14px;
}

.search-box input::placeholder{
    color:#9ca3b4;
}

/* Right Icons */

.toolbar-actions{
    display:flex;
    align-items:center;
    gap:18px;
}

.icon-btn{
    width:46px;
    height:46px;
    border:none;
    border-radius:50%;
    background:#f7f8fc;
    cursor:pointer;
    position:relative;
    transition:.3s;
}

.icon-btn:hover{
    background:#eceff6;
}

.icon-btn i{
    font-size:18px;
    color:#5d6478;
}

/* Badge */

.notification{
    position:relative;
}

.badge{

    position:absolute;

    top:4px;

    right:4px;

    width:18px;

    height:18px;

    background:#ef4444;

    border-radius:50%;

    color:#fff;

    font-size:11px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:600;

}

/* Profile */

.profile{
    display:flex;
    align-items:center;
    gap:12px;
    cursor:pointer;
}

.profile img{
    width:46px;
    height:46px;
    border-radius:50%;
    object-fit:cover;
}

.profile-info{
    display:flex;
    flex-direction:column;
}

.name{
    font-size:15px;
    font-weight:700;
    color:#2f3142;
}

.role{
    font-size:13px;
    color:#8b93a5;
}

.profile i{
    color:#8b93a5;
}

/* Second Row */

.dashboard-header-content{
    padding-top:10px;
}

.date-row{

    display:flex;

    align-items:center;

    gap:10px;

    color:#8b93a5;

    font-size:15px;

    margin-bottom:12px;

}

.date-row i{

    color:#5b63d3;

    font-size:18px;

}

.dashboard-header-content h1{
    font-size:34px;
    color:#2f3142;
    margin-bottom:10px;
}

.dashboard-header-content .name{
    font-size:34px;
    color:#be9146;
}
.dashboard-header{
    width:100%;
    background:#fff;
    border-bottom:1px solid #e5e7eb;
    border-radius: 20px;
    margin: 10px;
}
.header-row{
    border-bottom: 1px solid #edf0f5;
    padding: 20px;
}
.dashboard-header h2{
    margin:0;
    font-size:32px;
    font-weight:700;
    color:#2f3349;
    line-height:1.2;
}

.dashboard-header p{
    margin-top:10px;
    font-size:18px;
    color:#6b7280;
    line-height:1.5;
}

/* Common Card */

.card{

    height:120px;

    color:#fff;

    font-size:22px;

    font-weight:bold;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    border-radius:10px;

}

.top-cards{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
    padding:20px;
}
.sixth-cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:10px;
}
.top1-cards{
    display:grid;
    grid-template-columns:1.2fr 1.2fr 1.2fr 0.7fr;
    gap:20px;
    padding:10px;
}
.top2-cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    padding:10px;
}
.top3-cards{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
    padding:10px;
}
.top4-cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    padding:10px;
}
.top5-cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:10px;
}
/*.property-card,
.units-card,
.rooms-card,
.parking-card,
.tenant-card{
    background:#fff;
    border:1px solid #d9dce8;
    border-radius:20px;
    padding:18px;
}*/


.count{
    display:flex;
    align-items:center;
    gap:6px;
    margin-bottom:8px;
}

.number{
    font-size:48px;
    font-weight:700;
    color:#2f3142;
    line-height:1;
}

.label{
    font-size:16px;
    font-weight:600;
    color:#6c7086;
}

.card-header h3{
    font-size:18px;
    font-weight:700;
    color:#2f3142;
    margin-bottom:4px;
}

.card-header p{
    font-size:14px;
    color:#7b8093;
    margin-bottom:24px;
}
.landlords-card-header{
    font-size:18px;
    font-weight:700;
    color:#2f3142;
    margin-bottom:4px;
    padding: 10px;
    border-bottom: 1px solid #d9dce8;
}
.chart{
    height:145px;
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
}

.bar{
    width:14px;
    height:145px;
    background:#f4efe6;
    border-radius:10px;
    position:relative;
}

.bar.active::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:inherit;
    background:#be9146;
    border-radius:10px;
}

.fourth .card1 .bar,.fourth .card2 .bar, .fourth .card3 .bar {
    background:#EEEEF5;
}
.fourth .card1 .bar.active::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:inherit;
    background:#22c55e;
    border-radius:10px;
}
.fourth .card2 .bar.active::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:inherit;
    background:#5347CE;
    border-radius:10px;
}
.fourth .card3 .bar.active::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:inherit;
    background:#4896FE;
    border-radius:10px;
}
.progress-card{

    background:#fff;

    border:1px solid #d9dce8;

    border-radius:20px;

    padding:20px;

}

/* Header */

.count{

    display:flex;

    align-items:flex-end;

    gap:6px;

    margin-bottom:8px;

}

.number{

    font-size:26px;

    font-weight:700;

    color:#2d3142;

}

.label{

    font-size:14px;

    font-weight:600;

    color:#6c7086;

    margin-bottom:3px;

}

.card-header h3{

    font-size:18px;

    color:#2d3142;

    margin-bottom:4px;

}

.card-header p{

    color:#8a8fa3;

    font-size:14px;

    margin-bottom:28px;

}

/* Circular Progress */

.progress-ring{

    width:132px;

    height:132px;

    margin:auto;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

}

/* Inner Circle */

.progress-ring::before{

    content:"";

    position:absolute;

    width:100px;

    height:100px;

    background:#fff;

    border-radius:50%;

}

/* Text */

.progress-value{

    position:relative;

    z-index:1;

    font-size:18px;

    font-weight:700;

    color:#2d3142;

}

/* Occupancy */

.occupancy{

    background:
    conic-gradient(
        #4d46d8 0deg 280deg,
        #ececf5 280deg 360deg
    );

}

/* Vacant */

.vacant{

    background:
    conic-gradient(
        #23c0c6 0deg 76deg,
        #ececf5 76deg 360deg
    );

}


/* Grid */

.dashboard-row{
    display:grid;
    grid-template-columns:1.2fr 1.2fr 1.2fr 0.7fr;
    gap:20px;
    padding: 20px;
}

/* Card */

.dashboard-card{
    background:#fff;
    border:1px solid #dfe3eb;
    border-radius:20px;
    overflow:hidden;
}
.properties-card, .units-card, .rooms-card{
    background:#fff;
    border:1px solid #dfe3eb;
    border-radius:20px;
    overflow:hidden;
    padding: 20px;
}
/* Header */

.card-title{
    padding:18px 22px;
    border-bottom:1px solid #edf0f5;
}

.card-title h3{
    margin:0;
    font-size:18px;
    font-weight:700;
    color:#2e3145;
}

/* Body */

.card-body{
    padding:22px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
}

/* Donut */

.donut{
    width:210px;
    height:210px;
    border-radius:50%;
    position:relative;
    flex-shrink:0;
}

.donut::before{
    content:"";
    position:absolute;
    inset:24px;
    background:#fff;
    border-radius:50%;
}

.contacts-donut{
    width:300px;
    height:300px;
    border-radius:50%;
    position:relative;
    flex-shrink:0;
}
.contacts-donut::before{
    content:"";
    position:absolute;
    inset:24px;
    background:#fff;
    border-radius:50%;
}

/* Donut Text */

.donut-center{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:2;
}

.donut-center span{
    color:#73788d;
    font-size:15px;
}

.donut-center h2{
    margin-top:5px;
    font-size:42px;
    color:#2f3145;
}

/* Properties Donut */

.properties-donut{

background:
conic-gradient(
#5146d8 0deg 245deg,
#7c6cff 245deg 310deg,
#4f8ef6 310deg 335deg,
#ffffff 335deg 360deg);

}
.contacts-status-donut{
    
background:
conic-gradient(
    from 225deg,
#22c55e 0deg 330deg,
#ffffff 335deg 360deg);

}
/* Units Donut */

.units-donut{

background:
conic-gradient(
#5348d9 0deg 120deg,
#7b69fb 120deg 205deg,
#4a8cf7 205deg 295deg,
#27c3c7 295deg 360deg);

}

/* Stats */

.stats{
    flex:1;
}

.stat{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:16px 0;
    border-bottom:1px solid #edf0f5;
}

.stat:last-child{
    border-bottom:none;
}

.stat span{
    color:#666b82;
    font-size:16px;
}

.stat strong{
    font-size:20px;
    color:#2f3145;
}

/* Dots */

.dot{
    display:inline-block;
    width:8px;
    height:8px;
    border-radius:50%;
    margin-right:10px;
}

.purple{
    background:#5548d8;
}

.light{
    background:#8b7cff;
}

.blue{
    background:#4d8ef6;
}

.cyan{
    background:#28c4c8;
}

/* Footer */

.footer{
    display:flex;
    justify-content:space-around;
    padding:18px;
    border-top:1px solid #edf0f5;
}

.footer div{
    display:flex;
    gap:8px;
    align-items:center;
}

.footer span{
    color:#666b82;
    font-size:16px;
}

.footer strong{
    color:#2f3145;
    font-size:18px;
}

/* Responsive */

@media(max-width:992px){

.dashboard-row{
    grid-template-columns:1fr;
}

.card-body{
    flex-direction:column;
}

}


.parking-card{
    background:#fff;
    border-radius:18px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    overflow:hidden;
}

.parking-body{
    padding:10px;
}

.parking-box{
    background:#f7f7fb;
    border-radius:12px;
    padding:10px 10px;
    text-align:center;
    margin-bottom:14px;
}

.parking-box:last-child{
    margin-bottom:0;
}

.parking-box p{
    font-size:16px;
    color:#555;
    margin-bottom:4px;
}

.parking-box h3{
    font-size:16px;
    font-weight:400;
    color:#2d2d42;
}

.charts-row{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
}

.fourth-row{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(5, 1fr);
}
.charts-headers{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    height: 50px;
    border-bottom: 1px solid #e5e7eb;

}
.header-inner{
    padding: 20px;

}

.bar-chart{
    display:grid;
    grid-template-columns:repeat(4,100px);
    justify-content:space-between;
    align-items:end;
    gap:80px;
    padding: 20px
}

/* Individual bar */

.bar-chart-item{
    width:100px;
    height:230px;
    background:#edf2f7;
    border:1px solid #e5e7eb;
    border-radius:16px;
    position:relative;
    overflow:hidden;
}

/* Blue filled bar */

.bar-chart-item.active::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:190px;   /* Filled height */
    background:#2563eb;
    border-radius:16px;
}

.bar-span{
    color: #2563eb;
}

.property-card{
    border: 1px solid #dfe3eb;
}
