<div class="insights-container">

<!-- Top Dashboard Header -->
<div class="dashboard-top">

    <!-- Row 1 -->
    <div class="top-toolbar">

        <div class="search-group">

            <div class="search-box">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search Property">
            </div>

            <div class="search-select">

    <i class="fa-solid fa-magnifying-glass search-icon"></i>

    <input
        type="text"
        placeholder="Search Property"
    >

    <i class="fa-solid fa-chevron-down dropdown-icon"></i>

</div>

            <div class="search-select">

    <i class="fa-solid fa-magnifying-glass search-icon"></i>

    <input
        type="text"
        placeholder="Search Property"
    >

    <i class="fa-solid fa-chevron-down dropdown-icon"></i>

</div>

        </div>

        <div class="toolbar-actions">

            <button class="icon-btn">
                <img src="./assets/images/insights/settings_icon.png">
            </button>

            <button class="icon-btn notification">

                <img src="./assets/images/insights/notifications.png">

            </button>

            <div class="profile">

                <img src="./assets/images/insights/user1.png">

                <div class="profile-info">
                    <span class="name">Zaid Rahman</span>
                    <span class="role">Manager</span>
                </div>

                <i class="fa-solid fa-chevron-down"></i>

            </div>

        </div>

    </div>

    <!-- Row 2 -->

    <div class="dashboard-header-content">
        <div class="date-row">
            <i class="fa-regular fa-calendar-days"></i>
            <span>Tuesday, June 9, 2026</span>
        </div>
        <h1>Good Morning, <span class="name">Zaid Rahman</span></h1>
    </div>

</div>
<div class="dashboard-header">
    <div class="header-row">
        <h2>Property Dashboard Highlights</h2>
        <p>Track property totals and monitor trends over time.</p>
    </div>

<div class="top-cards">
 <!-- Header -->
    
        <div class="properties-card">

    <div class="card-header">
        <div class="count">
            <span class="number">17</span>
            <span class="label">Total Property</span>
        </div>

        <h3>Properties created</h3>
        <p>New properties per month (calendar year)</p>
    </div>

    <div class="chart">
        <div class="bar active" style="height:52px;"></div>
        <div class="bar active" style="height:98px;"></div>
        <div class="bar active" style="height:128px;"></div>
        <div class="bar active" style="height:46px;"></div>
        <div class="bar active" style="height:88px;"></div>
        <div class="bar active" style="height:42px;"></div>

        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

        </div>

<div class="dashboard-card units-card">

    <div class="card-header">

        <div class="count">
            <span class="number">2,982</span>
            <span class="label">Total Units</span>
        </div>

        <h3>Units Created</h3>

        <p>Units created per month (calendar year)</p>

    </div>

    <div class="chart">

        <!-- Vertical Grid Lines -->
        <div class="grid">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span>
        </div>

        <!-- Line Chart -->
        <svg viewBox="0 0 320 150" preserveAspectRatio="none">

            <polyline
                points="
                0,95
                30,55
                60,85
                90,45
                120,55
                150,40
                180,145
                320,145"
                fill="none"
                stroke="#c39242"
                stroke-width="3"
                stroke-linejoin="round"
                stroke-linecap="round"/>

        </svg>

    </div>

</div>

    <div class="dashboard-card rooms-card">

    <div class="card-header">

        <div class="count">
            <span class="number">2,982</span>
            <span class="label">Total Units</span>
        </div>

        <h3>Rooms Created</h3>

        <p>Rooms created per month (calendar year)</p>

    </div>

    <div class="chart">

        <!-- Vertical Grid Lines -->
        <div class="grid">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span>
        </div>

        <!-- Line Chart -->
        <svg viewBox="0 0 320 150" preserveAspectRatio="none">

            <polyline
                points="
                0,95
                30,55
                60,85
                90,45
                120,55
                150,40
                180,145
                320,145"
                fill="none"
                stroke="#c39242"
                stroke-width="3"
                stroke-linejoin="round"
                stroke-linecap="round"/>

        </svg>

    </div>

</div>

   <div class="progress-card">

    <div class="card-header">
        <div class="count">
            <span class="number">77.9%</span>
            <span class="label">(2324 units)</span>
        </div>

        <h3>Occupancy</h3>

        <p>Residential vs commercial occupancy</p>
    </div>

    <div class="progress-ring occupancy">
        <div class="progress-value">
            77.9%
        </div>
    </div>

</div>
<div class="progress-card">

    <div class="card-header">
        <div class="count">
            <span class="number">21%</span>
            <span class="label">(627 units)</span>
        </div>

        <h3>Vacant units</h3>

        <p>Residential vs commercial vacancy</p>
    </div>

    <div class="progress-ring vacant">
        <div class="progress-value">
            21%
        </div>
    </div>

</div>

</div>
<div class="dashboard-row">

    <!-- Properties Card -->
    <div class="dashboard-card properties-card">

        <div class="card-title">
            <h3>Properties</h3>
        </div>

        <div class="card-body">

            <div class="donut properties-donut">
                <div class="donut-center">
                    <span>All properties</span>
                    <h2>19</h2>
                </div>
            </div>

            <div class="stats">

                <div class="stat">
                    <span>Residential</span>
                    <strong>17</strong>
                </div>

                <div class="stat">
                    <span>Commercial</span>
                    <strong>0</strong>
                </div>

                <div class="stat">
                    <span>Mixed-use</span>
                    <strong>2</strong>
                </div>

            </div>

        </div>

    </div>

    <!-- Units Card -->

    <div class="dashboard-card units-card">

        <div class="card-title">
            <h3>Units</h3>
        </div>

        <div class="card-body">

            <div class="donut units-donut">
                <div class="donut-center">
                    <span>All units</span>
                    <h2>2955</h2>
                </div>
            </div>

            <div class="stats">

                <div class="stat">
                    <span><i class="dot purple"></i>1 BHK</span>
                    <strong>985</strong>
                </div>

                <div class="stat">
                    <span><i class="dot light"></i>2 BHK</span>
                    <strong>756</strong>
                </div>

                <div class="stat">
                    <span><i class="dot blue"></i>3 BHK</span>
                    <strong>758</strong>
                </div>

                <div class="stat">
                    <span><i class="dot cyan"></i>Studio</span>
                    <strong>456</strong>
                </div>

            </div>

        </div>

        <div class="footer">

            <div>
                <span>Occupied</span>
                <strong>2319</strong>
            </div>

            <div>
                <span>Vacant</span>
                <strong>605</strong>
            </div>

            <div>
                <span>Maintenance</span>
                <strong>31</strong>
            </div>

        </div>

    </div>
 <div class="dashboard-card units-card">

        <div class="card-title">
            <h3>Rooms</h3>
        </div>

        <div class="card-body">

            <div class="donut units-donut">
                <div class="donut-center">
                    <span>All rooms</span>
                    <h2>2955</h2>
                </div>
            </div>

            <div class="stats">

                <div class="stat">
                    <span><i class="dot purple"></i>1 BHK</span>
                    <strong>985</strong>
                </div>

                <div class="stat">
                    <span><i class="dot light"></i>2 BHK</span>
                    <strong>756</strong>
                </div>

                <div class="stat">
                    <span><i class="dot blue"></i>3 BHK</span>
                    <strong>758</strong>
                </div>

                <div class="stat">
                    <span><i class="dot cyan"></i>Studio</span>
                    <strong>456</strong>
                </div>

            </div>

        </div>

        <div class="footer">

            <div>
                <span>Occupied</span>
                <strong>2319</strong>
            </div>

            <div>
                <span>Vacant</span>
                <strong>605</strong>
            </div>

            <div>
                <span>Maintenance</span>
                <strong>31</strong>
            </div>

        </div>

    </div>
    
    <!-- Parking -->
    <div class="parking-card">
        <div class="card-title">
            <h3>Parking</h3>
        </div>

        <div class="parking-body">
            <div class="parking-box">
                <p>Occupied</p>
                <h2>2319</h2>
            </div>
            <div class="parking-box">
                <p>Vacant</p>
                <h2>605</h2>
            </div>
            <div class="parking-box">
                <p>Maintenance</p>
                <h2>31</h2>
            </div>
        </div>
    </div>
</div>
</div>


<div class="charts-row">
     <!-- Properties Card -->
    <div class="dashboard-card properties-card">

        <div class="card-title">
            <h3>Contact Status Analytics</h3>
        </div>
        <div class="charts-headers">
            <div class="header-inner">All</div>
            <div class="header-inner">Tenants</div>
            <div class="header-inner">Vendors</div>
            <div class="header-inner">Support</div>
        </div>
        <div class="card-body">

            <div class="contacts-donut contacts-status-donut">
                <div class="donut-center">
                  
                </div>
            </div>

            <div class="stats">

                <div class="stat">
                    <span>Active</span>
                    <strong>5164</strong>
                </div>

                <div class="stat">
                    <span>Inactive</span>
                    <strong>3</strong>
                </div>

            </div>

        </div>

    </div>
    <div class="dashboard-card property-card">
 <div class="card-title">
            <span class="label">Top Landlords</span>
        </div>
    <div class="landlords-card-header">
        <h3>AED 28.5</h3>
        <p>Total units in the top1</p>
    </div>

    <div class="bar-chart">
    
    <div>
        <span class="bar-span">2982</span>
        <div class="bar-chart-item active"></div>
        <span>Orville Real Estate</span>
    </div>

    <div class="bar-chart-item">
    </div>

    <div class="bar-chart-item">
    </div>

    <div class="bar-chart-item">
    </div>

</div>

        </div>
</div>


<div class="fourth dashboard-header">
    <div class="header-row">
        <h2>Lease Highlights</h2>
        <p>Track total lease values and understand monthly trends at a glance.</p>
    </div>

<div class="top-cards">
 <!-- Header -->
    
        <div class="properties-card">

    <div class="card-header">
        <div class="count">
            <span class="number">24,106</span>
            <span class="label">Total current</span>
        </div>

        <h3>23,489 last year</h3>
        <p>New leases per month (calendar year)</p>
    </div>

    <div class="card1 chart">
        <div class="bar active" style="height:52px;"></div>
        <div class="bar active" style="height:98px;"></div>
        <div class="bar active" style="height:128px;"></div>
        <div class="bar active" style="height:46px;"></div>
        <div class="bar active" style="height:88px;"></div>
        <div class="bar active" style="height:42px;"></div>

        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

        </div>

<div class="units-card">

    <div class="card-header">

        <div class="count">
            <span class="number">2,330</span>
            <span class="label">Total Active</span>
        </div>
        <h3>2,331 last year</h3>
        <p>Active leases per month (calendar year)</p>
    </div>

    <div class="chart">

        <!-- Vertical Grid Lines -->
        <div class="grid">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span>
        </div>

        <!-- Line Chart -->
        <svg viewBox="0 0 320 150" preserveAspectRatio="none">

            <polyline
                points="
                0,95
                30,55
                60,85
                90,45
                120,55
                150,40
                180,145
                320,145"
                fill="none"
                stroke="#c39242"
                stroke-width="3"
                stroke-linejoin="round"
                stroke-linecap="round"/>

        </svg>

    </div>

</div>

<div class="properties-card">

    <div class="card-header">
        <div class="count">
            <span class="number">11,269</span>
            <span class="label">Total Completed</span>
        </div>

        <h3>21,178 last year</h3>
        <p>Rooms created per month (calendar year)</p>
    </div>

    <div class="card2 chart">
        <div class="bar active" style="height:52px;"></div>
        <div class="bar active" style="height:98px;"></div>
        <div class="bar active" style="height:128px;"></div>
        <div class="bar active" style="height:46px;"></div>
        <div class="bar active" style="height:88px;"></div>
        <div class="bar active" style="height:42px;"></div>

        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

        </div>
<div class="properties-card">

    <div class="card-header">
        <div class="count">
            <span class="number">17,161</span>
            <span class="label">Total Renewed</span>
        </div>

        <h3>9,424 last year</h3>
        <p>New leases per month (calendar year)</p>
    </div>

    <div class="card3 chart">
        <div class="bar active" style="height:52px;"></div>
        <div class="bar active" style="height:98px;"></div>
        <div class="bar active" style="height:128px;"></div>
        <div class="bar active" style="height:46px;"></div>
        <div class="bar active" style="height:88px;"></div>
        <div class="bar active" style="height:42px;"></div>

        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

        </div>

        <div class="units-card">

    <div class="card-header">

        <div class="count">
            <span class="number">2,330</span>
            <span class="label">Total Active</span>
        </div>
        <h3>2,331 last year</h3>
        <p>Active leases per month (calendar year)</p>
    </div>

    <div class="chart">

        <!-- Vertical Grid Lines -->
        <div class="grid">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span>
        </div>

        <!-- Line Chart -->
        <svg viewBox="0 0 320 150" preserveAspectRatio="none">

            <polyline
                points="
                0,95
                30,55
                60,85
                90,45
                120,55
                150,40
                180,145
                320,145"
                fill="none"
                stroke="#c39242"
                stroke-width="3"
                stroke-linejoin="round"
                stroke-linecap="round"/>

        </svg>

    </div>

</div>
</div>
</div>

</div>

