<form class="cs-shifts" [formGroup]="companyShiftsForm" (ngSubmit)="onSubmit()">
  <div class="cs-shifts__page-header">
    <div class="cs-shifts__title-block">
      <h1 class="cs-shifts__title">{{ 'web.settings.companyShifts.lblTitle' | translate }}</h1>
      <p class="cs-shifts__subtitle">
        {{ 'web.settings.companyShifts.lblSubtitle' | translate }}
      </p>
    </div>
  </div>

  <div class="cs-shifts__card">
    <div class="cs-shifts__header">
      <span class="cs-shifts__pill">{{ summaryLabel }}</span>
    </div>

    <div class="cs-shifts__actions">
      <button type="button" class="cs-shifts__chip" (click)="applyWeekdays()">
        {{ 'web.settings.companyShifts.btnApplyWeekdays' | translate }}
      </button>
      <button type="button" class="cs-shifts__chip cs-shifts__chip--muted" (click)="clearWeekend()">
        {{ 'web.settings.companyShifts.btnClearWeekend' | translate }}
      </button>
      <label class="cs-shifts__enable-all">
        <input class="cs-shifts__switch-input" type="checkbox" formControlName="selectAll" />
        <span class="cs-shifts__switch" aria-hidden="true">
          <span class="cs-shifts__switch-knob"></span>
        </span>
        <span class="cs-shifts__enable-all-label">{{ 'web.settings.companyShifts.lblEnableAll' | translate }}</span>
      </label>
    </div>

    <div class="cs-shifts__cols" aria-hidden="true">
      <span class="cs-shifts__col cs-shifts__col--day">{{ 'web.settings.companyShifts.colDay' | translate }}</span>
      <span class="cs-shifts__col cs-shifts__col--opens">{{ 'web.settings.companyShifts.colOpens' | translate }}</span>
      <span class="cs-shifts__col cs-shifts__col--to"></span>
      <span class="cs-shifts__col cs-shifts__col--closes">{{ 'web.settings.companyShifts.colCloses' | translate }}</span>
      <span class="cs-shifts__col cs-shifts__col--duration">{{ 'web.settings.companyShifts.colDuration' | translate }}</span>
      <span class="cs-shifts__col cs-shifts__col--spacer"></span>
    </div>

    <div formArrayName="shifts" class="cs-shifts__days">
      <div
        *ngFor="let shift of shiftsFormArray.controls; let i = index"
        [formGroupName]="i"
        class="cs-shifts__row"
        [class.cs-shifts__row--closed]="!shift.get('enabled')?.value"
      >
        <div class="cs-shifts__day">
          <label class="cs-shifts__day-toggle">
            <input
              class="cs-shifts__switch-input"
              type="checkbox"
              formControlName="enabled"
              (change)="toggleDay(i)"
            />
            <span class="cs-shifts__switch" aria-hidden="true">
              <span class="cs-shifts__switch-knob"></span>
            </span>
          </label>
          <div class="cs-shifts__day-text">
            <span class="cs-shifts__day-name">{{ daysOfWeek[i] }}</span>
            <span
              class="cs-shifts__day-status"
              [class.cs-shifts__day-status--open]="shift.get('enabled')?.value"
            >
              {{ shift.get('enabled')?.value ? ('web.settings.companyShifts.lblOpen' | translate) : ('web.settings.companyShifts.lblClosed' | translate) }}
            </span>
          </div>
        </div>

        <label class="cs-shifts__time" [class.cs-shifts__time--disabled]="!shift.get('enabled')?.value">
          <img src="./assets/images/settings/clock.svg" alt="" width="14" height="14" />
          <input *ngIf="shift.get('enabled')?.value" type="time" formControlName="startTime" />
          <span *ngIf="!shift.get('enabled')?.value" class="cs-shifts__time-ph">HH:MM</span>
        </label>

        <span class="cs-shifts__to">{{ 'web.settings.companyShifts.lblTo' | translate }}</span>

        <label class="cs-shifts__time" [class.cs-shifts__time--disabled]="!shift.get('enabled')?.value">
          <img src="./assets/images/settings/clock.svg" alt="" width="14" height="14" />
          <input *ngIf="shift.get('enabled')?.value" type="time" formControlName="endTime" />
          <span *ngIf="!shift.get('enabled')?.value" class="cs-shifts__time-ph">HH:MM</span>
        </label>

        <div class="cs-shifts__duration">
          <span
            class="cs-shifts__duration-pill"
            [class.cs-shifts__duration-pill--empty]="!shift.get('enabled')?.value"
          >
            {{ getDurationLabel(i) }}
          </span>
        </div>

        <div class="cs-shifts__spacer" aria-hidden="true"></div>
      </div>
    </div>
  </div>

  <div class="cs-shifts__footer">
    <p class="cs-shifts__footer-note">{{ 'web.settings.companyShifts.lblFooterNote' | translate }}</p>
    <button type="submit" class="ov-btn ov-btn-primary" [disabled]="companyShiftsForm.invalid">
      {{ 'web.settings.companyShifts.btnSaveChanges' | translate }}
    </button>
  </div>
</form>
