
<form [formGroup]="form" class="flex flex-col gap-4">
    <div class="ov-fields ov-fields--2">
        <div>
            <label class="ov-label">
                Item Name <span class="text-danger">*</span>
            </label>
            <input
                type="text"
                class="ov-input"
                formControlName="itemName"
                placeholder="Enter Item name">
            <span class="ov-modal__hint">Enter Item name</span>
        </div>
        <div>
            <label class="ov-label">
                Item Location<span class="text-danger">*</span>
            </label>
            <input
                type="text"
                class="ov-input"
                formControlName="location"
                placeholder="Item Location">
        </div>
    </div>
    <div class="ov-fields ov-fields--2">
        <div>
            <label class="ov-label">
                Item Quantity<span class="text-danger">*</span>
            </label>
            <input
                type="text"
                class="ov-input"
                formControlName="qty"
                placeholder="Item qty">
        </div>
        <div>
            <label class="ov-label">
                Expiry<span class="text-danger">*</span>
            </label>
            <input
                type="date"
                class="ov-input"
                formControlName="expiryDate">
        </div>
    </div>
    <div class="rounded-xl border border-defaultborder overflow-hidden">
        <div class="p-4">
            <app-file-upload
                [accept]="'image/*'"
                [multiple]="false"
                [browseText]="'Click'"
                (filesChanged)="onFilesSelected($event)">
            </app-file-upload>
        </div>
    </div>
</form>
