
<form [formGroup]="form" class="space-y-5">
    <div>
        <label class="ti-form-label">
            Subject <span class="text-danger">*</span>
        </label>
        <input
            type="text"
            class="ti-form-input"
            formControlName="areaName"
            placeholder="Enter area name, e.g. Lobby, Gym, Rooftop">
        <p class="text-[11px] text-gray-400 mt-1">
            Use a clear title for faster search later.
        </p>
    </div>
    <div>
        <label class="ti-form-label">
            Communication Channel
        </label>
        <select class="form-control w-full !rounded-md" formControlName="documentType">
                            <option value="" disabled>
                                Select Property Type
                            </option>
                            <option *ngFor="let docType of documentTypes" [value]="docType.id">
                                {{ docType.name }}
                            </option>
                        </select>
    </div>
</form>
